
<body >


  <div id="workspace" class="workspace">
    <div class="container stack_container " style="width: 960px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
      
      <div class="panel sheet project active blank_slate fondoGris" >
        <div class="sheet_body">
       
          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">

                    <div class="small-12 columns left">
                      <h4 id="tituloContrato"  style="margin-top: 25px;">
                        Compartir Procesos
                      </h4>
                     
                    </div>
                    <hr  class="lineaHorizontalAzul" style="margin-bottom: 38px;"> 
                    <div class="small-3 small-3 columns left">

                    </div>
                 </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>


           <% if (alert) %>
                <div data-alert class="alert-box alert radius" style="text-shadow: initial;"><%= alert %></div>
            <% end %>


      <%= form_for @control_acceso, :url => { :action => "create" }, :html => { :class => "custom",
        :id => "formCompartirProceso"}  do |f| %>
          <!-- USUARIOS-->
      <div class="row">
        <div class="large-2 columns small-3"><img src="/img/participantes.png" class="imagencompartir" /></div>
        <div class="large-10 columns">
          <p><strong>Seleccionar el usuario:</strong> busca el usuario con el cual deseas trabajar cooperativamente en uno o varios procesos.</p>
          <br />
                
                <div class="large-6 small-offset-2 large-offset-2 columns">
                  <span data-tooltip class="tip-top hide-for-touch" title="Digite y seleccione el mail de su colega.">
                  <%= f.text_field :usuario_id , :id => "email" , :placeholder => "Correo electronico" %>
                  <%= f.text_field :abogado_id , :id => "abogadoid", :type => "hidden" %>

                </div>

        </div>
      </div>
      
      <!-- End USUARIOS-->
     
         <hr style="margin-bottom: 38px; margin-top: 29px;"/>

          <!-- PROCESOS -->
          <div class="row">
            <div class="large-2 columns small-3"><img src="/img/detalles2.png" class="imagencompartir"/></div>
            <div class="large-10 columns">
              <p><strong>Selccionar el proceso:</strong> Comparte un proceso con su nivel personal de acceso.</p>
                <br />
                <br />
                <div class="large-2  columns">
                  <%= f.label "Proceso: ", :class => "tituloCampo error alinearDerecha" %>
                </div>  
                <div class="large-6  columns">
                  <%= f.select :proceso_id, @procesos.map {|r| [r.referencia+" - "+r.titulo,r.id] }, :prompt => "- Proceso 1 -"%>  
                </div>
                <div class="large-3  columns">
                  <%= f.select :privilegio_id, @privilegios.map {|r| [r.descripcion,r.id] }, :prompt => "- Nivel de Acceso -" %>  
                </div>
           </div>
          </div>
          <!-- End PROCESOS -->

          <hr style="margin-bottom: 38px; margin-top: 29px;"/>

           <!-- Feed Entry -->
          <div class="row">
            <div class="large-2 columns small-3"><img src="/img/mail.png" class="imagencompartir"/></div>
            <div class="large-10 columns">
              <p><strong>Notificar:</strong> Envia un correo al colaborador con el acceso a los procesos compartidos.</p>
              <br />
                <div class="large-8 small-offset-3 large-offset-3 columns">
                  <%= f.submit :'Compartir y enviar notificación' , :class => " button radius success", :id=>"commitCompartir", :onclick => "ocultarboton()" %>
                </div>
            </div>
          </div>
          <!-- End Feed Entry -->
       <% end %> 
      </div>
    </div>
    </div>
  </div>
</body>


<script type="text/javascript">
$(function() {
 $( "#email" ).autocomplete({
    source: "/compartirProcesos/buscarabogados",
    minLength: 2,
    select: function(event, ui)
        {
          $("#email").val(ui.item.label); // display the selected text
          $("#abogadoid").val(ui.item.value); // save selected id to hidden input
           return false;
        },
        focus: function(event, ui){
          return false;
        }

 });
});
</script>

<script type="text/javascript">
    $('#compartirtopbar').addClass("active");
  </script>
