 <section id="alerta_<%= alerta.id %>" class="group today upcoming_events">
    <header>
        
    </header>
    <article class="calendar_event">
        <header>
                <span class="month"><%= fechaMes alerta.comienza %></span>
                <span class="day" style="background-color: #777 !important"><%= fechaDia alerta.comienza %></span>
        </header>

        <ul>
            <li id="CalendarEvent_5615518">
               
                Titulo: <span class="bold" style=""><%= alerta.titulo %></span>
                
                <p>Programada: <%= fechaFormatoActualizado alerta.comienza %> </p>
                <p>Nota: <%= alerta.nota %> </p>
                

                <%= button_to 'Ver', edit_alerta_path(alerta, :proceso_id => @proceso.id), :id => "new_alert_link",:class => "tiny button radius alinearbotones" %>

                  <%= link_to "Eliminar", alerta_path(alerta, :proceso_id => @proceso.id), :class => "textRojolinks inlineBlock",  :method => :delete, :confirm => "Estas Seguro de eliminar esta alerta?"   %>

            </li>
        </ul>
    </article>
</section>
