<tr>
  <td >
      <%= link_to alerta.titulo , edit_alerta_path(alerta, :proceso_id => alerta.proceso.id, :alerta_id => alerta.id), :id => "new_alert_link",:class => "titulocontendiotabla" %>
      <%= button_to 'Ver', edit_alerta_path(alerta, :proceso_id => alerta.proceso.id), :id => "new_alert_link",:class => "tiny button radius alinearbotones" %>
   </td>
   <td>
       <%= fechaFormatoActualizado alerta.termina %>  
  </td>
  <td>
      <%= alerta.nota %>
  </td>
  
  <td>
    <%= link_to(alerta.proceso, :class=>"titulocontendiotabla") do  %>
      <%= alerta.proceso.titulo %> 
    <% end %>

  </td>
</tr>