<%= form_for @alerta, url: alertas_path,  :html => { :class => "custom"} do |f| %>


<div class="row">
    
    <%= hidden_field_tag :proceso_id, params[:proceso_id] %>

    <div class="small-2 small-offset-0 columns ">
      <%= f.label :titulo_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :titulo, :placeholder => "Titulo de la aleta" %>
    </div>

 </div>

<div class="row">
  
 <div class="small-2 small-offset-0 columns ">
      <%= f.label :nota_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-10 columns field">
      <%= f.text_field :nota, :placeholder => "Adiciona una nota" %>
    </div>
    

</div>

<div class="row datepair" data-language="javascript">

   
    <div class="small-2 small-offset-0 columns ">
      <%= f.label :comienza_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :termina, :placeholder => "Fecha inicio",:class => "date start"   %>
    </div>

    <div class="small-2 small-offset-0 columns ">
      <%= f.check_box :notificarMail, :class => "tituloCampo alinearbotones error alinearDerecha"    %>
    </div>
    <div class="small-4 columns field">
      <%= f.label "Notificar via mail?", :class => "tituloCampo" %>
    </div>
   
</div>

<div class="row">

     <div class="small-1 small-offset-7 columns field"></div>
     <div class="small-1 columns field">
      <%= link_to   "Cancelar", {:controller => "alertas", :action => "index", :proceso_id => params[:proceso_id]}, :class=>"textoGrislinks",:method=>:get %>
     </div>
     <div class="small-2 columns field">
      <%= f.submit :'Guardar Alerta' , :class => " button success radius" %>
      <%= hidden_field_tag :proceso_id, @proceso.id %>
      </div>
     </div>

</div>

<% end %>

<script>
$('#alerta_termina').datetimepicker({dateFormat: "dd MM yy", timeFormat: ', hh:mm tt',stepHour: 1,stepMinute: 10});

  $(document).foundation();
</script>