
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
            <li><%= link_to 'Procesos', procesos_path %></li>
            <li><%= link_to @proceso do  %>
                  proceso <%= @proceso.id %> : <%= @proceso.titulo %>
                <% end %>
            </li>
            <li><%= link_to 'Contratos', "javascript:listarAlertas()" %></li>
          </ul>
        </header>

        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">

                    <div class="small-6 small-9 columns left">
                      <h1 id="tituloContrato">
                        Alertas
                      </h1>
                    </div>

                    <div class="small-3 small-3 columns left">


                        <%= button_to 'Nueva Alerta', new_alerta_path(:proceso_id => @proceso.id), :class => "button radius ", :id => "new_alerta_link"  %>
                        <%= button_to 'Listar Alertas',"javascript:listarAlertas()" , :class => "button radius ocultar", :id => "listar_alerta_link" %>

                    </div>

                    <% if notice %>
                              <div data-alert class="alert-box success radius">
                                <%= notice %>
                                <a href="#" class="close">&times;</a>
                              </div>
                    <% end %>

                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>



          <div class="sheet_body fondoGris">
            <div id="date_display_Project:2733915" class="date_display" data-autoview="">
            <section class="calendar_events">

                            <div class="upcoming_events">
                                <h2>Upcoming events</h2>
                            </div>
                            <section class="group today upcoming_events">
                   <% @alerta.each do |alerta| %>
                    <%= render 'alerta', :alerta => alerta %>
                   <% end %>
                    </section>
               </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
