
<div class="row" style="margin-top: 30px;">
    <div class="large-12 columns ">
      <img src="/img/fondos/funcioanlidades1.jpg" class="bannerHome">
      <div class="content" style="top: 7px; bottom:12px; width:43%">
          <div style="height: 34px;">

             <h3 style="color: #2284a1;">
              <%= link_to :root  do %>
                <img src="/img/aspen_logo_small.png" style="width: 64px; float:left;"/>
              <% end %>
              <div style="height: 71px;padding: 6px;float: right;">Crear Cuenta</div>
            </h3>
            </div>
        <br />
           
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

   <div><%= f.label "Correo Electronico" %><br />
    <%= f.email_field :email, :autofocus => true  , :class=>"cajaMargen" %></div>

    <div><%= f.label "Contraseña" %><br />
      <%= f.password_field :password  , :class=>"cajaMargen" %></div>

      <div><%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation , :class=>"cajaMargen" %></div>

        <div><%= f.submit "Iniciar cuenta gratuita" , :class=>"button botonGrande success letra20" %></div>
        <div style="text-align:center">
          <%= link_to "realizando clic, esta aceptando los terminos y condiciones.", :terminosYcondiciones , :class=>"cajaMargenDerecha letra12px" ,:target => "_blank"   %></div>
          <hr style="margin: 0px;">
    <% end %>

<%= render "devise/shared/links" %>

          </div>

    </div>
  </div>


<div class="row large-centered ocultar" >

   <div class=" small-12 large-5 large-centered small-centered columns  panelsetuptop ">
    <%= link_to :root  do %>
          <img src="/img/aspen_logo_small.png" style="width: 64px;"/>
        <% end %>
  </div>  

  <div class=" row panel panelsetupbuttom small-12 large-5 large-centered small-centered columns  ">
  <h3 style="color: #2284a1;">
            <i class="general foundicon-checkmark" style="font-size:20px"></i>
            Crear Cuenta
            </h3>

   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

   <div><%= f.label "Correo Electronico" %><br />
    <%= f.email_field :email, :autofocus => true  , :class=>"cajaMargen" %></div>

    <div><%= f.label "Contraseña" %><br />
      <%= f.password_field :password  , :class=>"cajaMargen" %></div>

      <div><%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation , :class=>"cajaMargen" %></div>

        <div><%= f.submit "Iniciar cuenta gratuita" , :class=>"button botonGrande success" %></div>
        <div style="text-align:center">
          <%= link_to "realizando clic, esta aceptando los terminos y condiciones.", :terminosYcondiciones , :class=>"cajaMargenDerecha letra12px" ,:target => "_blank"   %></div>
          <hr>
    <% end %>

          <%= render "devise/shared/links" %>

        </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="large-12 columns">
 
       <div class="row">
         <div class="large-12 columns">
            <h1 class="show-for-small tituloPagina" >Funcioanlidades</h1>
            <h1 class="hide-for-small tituloPagina" >Todo tu despacho en la nube</h1>
            <div style="text-align:center;"><span class="subtitulo" >Centraliza</span> todos tus procesos judiciales en un mismo sitio, permitiendote acceder a ellos desde cualquier dispositivo.  </div>
            <hr style="margin-bottom: 35px;">
          </div>
        </div>

      <!-- Header Content -->
 
        <div class="row">
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:20px"></i>Gestiona<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i> Gestiona los procesos<hr/></h4>
              <h5 class="subheader"> Puedes administrar todos los procesos que desees, definiendo claramente un grupo de trabajo con un número indefinido de colaboradores.</h5>
              <br>
             
              <h3 class="show-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px"></i>Comparte<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px !important"></i> Comparte los procesos<hr/></h4>

              <h5 class="subheader"> Aspen permite que cada que procesos pueden ser compartidos con todos los colegas y colaboradores de tu despacho para tener un trabajo colaborativo.</h5>

            </div>
          </div>

        </div>
      
      <hr class="margenesLinea"/>
      
         <div class="row">
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h4>
              <h5 class="subheader">Clasifica los procesos favoritos o prioritarios, define el estado actual del proceso y de cada una de sus actividades.
              </h5>
               
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px"></i>Historial de los procesos<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px !important"></i> Historial de los procesos<hr/></h4>
              <h5 class="subheader"> Obten un historial completo del comportamiento del proceso y sus colaborades a travez el tiempo.</h5>

            </div>
          </div>
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      </div>
      
      <hr class="margenesLinea"/>

          <div class="row">
             <div class="large-6 columns">
               <img src="/img/fondos/mac1.png" ><br>
             </div>
      
         <div class="large-6 columns"> 
            <h3 class="show-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h4>
              <h5 class="subheader">Obten diferentes tipos de reportes sobre el estado actual de tus procesos, de tus colaboradores y de tu despacho en general.</h5>
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px"></i>Supervisa y Controla<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px !important"></i>Supervisa y Controla<hr/></h4>
              <h5 class="subheader"> Observa fácilmente las tareas y activiades pendientes de cada proceso dentro del sistema.</h5>
             
            </div>
          </div>
        </div>
         
        </div>
 
      <!-- End Header Content -->
        


 
    </div>
  </div>
  
  <hr class="margenesLinea"/>

   <!-- Thumbnails -->
 
       <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5 class="subtitulo">Gestiona Documentos</h5>
                <h6 class="subheader"><i class="general foundicon-page" style="font-size:50px !important"></i> Adjunta y soporta tus procesos con los todos los documentos digitales. Obten un control sobre los archivos</h6>
                
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5 class="subtitulo">Programa Alertas en los procesos</h5>
                <h6 class="subheader"><i class="general foundicon-clock" style="font-size:50px !important"></i> Programa alertas y fechas importantes de cada proceso, evita retrasos y vencimiento de terminos </h6>
               
                </div>
              </div>
              
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5 class="subtitulo">Organiza tu Agenda con los procesos</h5>
                <h6 class="subheader"><i class="general foundicon-calendar" style="font-size:50px !important"></i> La agenda de Aspen te ayuda a llevar los eventos relevates de los procesos y las citas de tus clientes</h6>
               
                </div>
              </div>

              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5 class="subtitulo">Obten un ambiente colaborativo</h5>
                <h6 class="subheader">
                  <i class="general foundicon-smiley" style="font-size:38px !important"></i>
                   Crea un ambiente colaborativo dentro de tu despacho. Asigna al mejor recurso Organiza tus recursos en los procesos en los que tienen más experiencia.</h6>
                </div>
              </div>
         </div>
 
      <!-- End Thumbnails -->

<hr>


<script type="text/javascript">
 $( "#topbar" ).remove();
  $( "#topbar2" ).remove();
</script>
