
<div class="row" style="margin-top: 15px;max-width: 62.5em;">
    <div class="large-12 columns ">
      <img src="/img/fondos/funcioanlidades1.jpg" class="bannerHome">
      <div class="content" style="top: 7px; bottom:12px; width:43%;right: 14px;">
          <div style="height: 34px;">

             <h3 style="color: #2284a1;">
              <%= link_to :root  do %>
                <img src="/img/aspen_logo_small.png" style="width: 64px; float:left;"/>
              <% end %>
              <div style="height: 71px;padding: 6px;float: right;">Crear Cuenta</div>
            </h3>
            </div>
        <br />
           
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

   <div><%= f.label "Correo Electronico" %><br />
    <%= f.email_field :email, :autofocus => true  , :class=>"cajaMargen" %></div>

    <div><%= f.label "Contraseña" %><br />
      <%= f.password_field :password  , :class=>"cajaMargen" %></div>

      <div><%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation , :class=>"cajaMargen" %></div>

        <div><%= f.submit "Iniciar cuenta gratuita" , :class=>"button botonGrande success letra20" %></div>
        <div style="text-align:center">
          <%= link_to "realizando clic, esta aceptando los terminos y condiciones.", :terminosYcondiciones , :class=>"cajaMargenDerecha letra12px" ,:target => "_blank"   %>
        </div>
          <hr style="margin: 0px;">
          <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
                <a class="addthis_button_linkedin"></a>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538d0df578bb5396"></script>
                <!-- AddThis Button END -->
                
    <% end %>



          </div>

    </div>
</div>




<div class="row large-centered ocultar" >

   <div class=" small-12 large-5 large-centered small-centered columns  panelsetuptop ">
    <%= link_to :root  do %>
          <img src="/img/aspen_logo_small.png" style="width: 64px;"/>
        <% end %>
  </div>  

  <div class=" row panel panelsetupbuttom small-12 large-5 large-centered small-centered columns  ">
  <h3 style="color: #2284a1;">
            <i class="general foundicon-checkmark" style="font-size:20px"></i>
            Crear Cuenta
            </h3>

   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

   <div><%= f.label "Correo Electronico" %><br />
    <%= f.email_field :email, :autofocus => true  , :class=>"cajaMargen" %></div>

    <div><%= f.label "Contraseña" %><br />
      <%= f.password_field :password  , :class=>"cajaMargen" %></div>

      <div><%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation , :class=>"cajaMargen" %></div>

        <div><%= f.submit "Iniciar cuenta gratuita" , :class=>"button botonGrande success" %></div>
        <div style="text-align:center">
          <%= link_to "realizando clic, esta aceptando los terminos y condiciones.", :terminosYcondiciones , :class=>"cajaMargenDerecha letra12px" ,:target => "_blank"   %></div>
          <hr>
    <% end %>

          <%= render "devise/shared/links" %>

        </div>
</div>

<div class="row" style="margin-top:-8px;max-width: none;">

  <div class="large-12 small-12  footer-azulClaro">
        <div>
          <h1 class="tituloPagina" >Todo tu despacho en la nube</h1>
      </div>  
    </div>

    <div class="large-12 columns">
 
       <div class="row">
         <div class="large-12 columns">
            <h1 class="show-for-small tituloPagina" >Funcionalidades</h1>
            <br>
            <div style="text-align:center;"><span class="subtitulo" >Centraliza</span> todos tus procesos judiciales en un mismo sitio, permitiendote acceder a ellos desde cualquier dispositivo.  </div>
            <hr style="margin-bottom: 35px;">
          </div>
        </div>

      <!-- Header Content -->
 
        <div class="row">
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:20px"></i>Gestiona<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-checkmark" style="font-size:30px !important"></i> Gestiona los procesos<hr/></h4>
              <h5 class="subheader"> Puedes administrar todos los procesos que desees, definiendo claramente un grupo de trabajo con un número indefinido de colaboradores.</h5>
              <br>
             
              <h3 class="show-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px"></i>Comparte<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-people" style="font-size:30px !important"></i> Comparte los procesos<hr/></h4>

              <h5 class="subheader"> Aspen permite que cada que procesos pueden ser compartidos con todos los colegas y colaboradores de tu despacho para tener un trabajo colaborativo.</h5>

            </div>
          </div>

        </div>
      
      <hr class="margenesLinea"/>
      
         <div class="row">
         <div class="large-6 columns">
            <h3 class="show-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-paper-clip" style="font-size:30px !important"></i>Organiza y Clasifica<hr/></h4>
              <h5 class="subheader">Clasifica los procesos favoritos o prioritarios, define el estado actual del proceso y de cada una de sus actividades.
              </h5>
               
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px"></i>Historial de los procesos<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-flag" style="font-size:30px !important"></i> Historial de los procesos<hr/></h4>
              <h5 class="subheader"> Obten un historial completo del comportamiento del proceso y sus colaborades a travez el tiempo.</h5>

            </div>
          </div>
         <div class="large-6 columns">
            <img src="/img/fondos/mac1.png" ><br>
         </div>
      </div>
      
      <hr class="margenesLinea"/>

          <div class="row">
             <div class="large-6 columns">
               <img src="/img/fondos/mac1.png" ><br>
             </div>
      
         <div class="large-6 columns"> 
            <h3 class="show-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h3>
            <div class="panel panelTransparente">
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-idea" style="font-size:30px !important"></i>Analiza<hr/></h4>
              <h5 class="subheader">Obten diferentes tipos de reportes sobre el estado actual de tus procesos, de tus colaboradores y de tu despacho en general.</h5>
              <br>
              <h3 class="show-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px"></i>Supervisa y Controla<hr/></h3>
              <h4 class="hide-for-small subtitulo"><i class="general foundicon-search" style="font-size:30px !important"></i>Supervisa y Controla<hr/></h4>
              <h5 class="subheader"> Observa fácilmente las tareas y activiades pendientes de cada proceso dentro del sistema.</h5>
             
            </div>
          </div>
        </div>
         
        </div>
 
      <!-- End Header Content -->
        


 
    </div>
  </div>
  
  <hr class="margenesLinea"/>


<div class="testimonial-bg">
  <div class="row">
    <div class="large-10 large-offset-1  small-12 columns">
      <h3 style="font-size: 41px;text-align: center;font-weight: 300;margin-top: 46px;">
              Descrubre la nueva forma de organizar tu oficina</h3>
    </div>
   
  </div>
</div>

   



<div class="row">
    
    <div class="large-12 columns">
            <h1 class="show-for-small tituloPagina" >Planes y precios</h1>
            <h1 class="hide-for-small tituloPagina" style="font-weight: 900;font-size: 40px;" >Planes y precios</h1>
            <div style="text-align:center;"><span class="subtitulo" >Inica tu cuenta gratuita</span> Ccn todas las funcionalidades ofrecidas por nuestro sistema.  </div>
            <hr style="margin-bottom: 35px;">
    </div>
    


    <div class="large-4 columns">
      <ul class="pricing-table">
        <li class="price fondoGris">Gratis</li>
        <li class="title fondoGris">$0</li>
        <li class="price fondoGris">1 Mes Gratuito</li>
      
        <li class="bullet-item">Unicamete 1 usuario colaborador </li>
        <li class="bullet-item">Máximo 15 procesos</li>
        <li class="bullet-item">500MB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Prueba Gratuita</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul class="pricing-table">
         <li class="price fondoNaranja">Basico</li>
        <li class="title fondoNaranja">$20</li>
        <li class="price fondoNaranja">por mes</li>
        
        <li class="bullet-item">Usuarios coloboradores ilimitados</li>
        <li class="bullet-item">Procesos ilimitados</li>
        <li class="bullet-item">5GB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Contactar a aspen.abogados@gmail.com</a></li>
      </ul>
    </div>

    <div class="large-4 columns">
      <ul class="pricing-table">
         <li class="price fondoAzul">Pro</li>
        <li class="title fondoAzul">$30</li>
        <li class="price fondoAzul">por mes</li>
       
        <li class="bullet-item">Usuarios coloboradores ilimitados</li>
        <li class="bullet-item">Procesos ilimitados</li>
        <li class="bullet-item">5GB de almacenamiento en la nube</li>
        <li class="cta-button"><a class="button" href="#" >Contactar a aspen.abogados@gmail.com</a></li>
      </ul>
    </div>
  </div>

 

<hr>


<script type="text/javascript">
  $( "#topbar2" ).remove();

  function getURLParameter(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
  }
  myvar = getURLParameter('email');

  $( "#abogado_email" ).val(myvar);


</script>
