<p id="notice"><%= notice %></p>

<p>
  <b>Correo:</b>
  <%= @software_abogado.correo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @software_abogado.nombre %>
</p>


<%= link_to 'Edit', edit_software_abogado_path(@software_abogado) %> |
<%= link_to 'Back', software_abogados_path %>
