<%= form_for @abogado, :remote => true, :html => { :class => "custom",:id => "formUsuario"} do |f| %>
      
     

      <div class="row">
            
            <div class="small-2 small-offset-0 columns field"> 
              <%= label_tag "Correo" ,nil, :class => "tituloCampo"  %>
            </div>
            <div class="small-10  columns field">
                 <%= f.text_field :email,:placeholder => "Correo electronico", :disabled => true %>
            </div>

             <div class="small-2 small-offset-0 columns field"> 
              <%= label_tag "Nombre" ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-10 columns field">
                 <%= f.text_field :nombre,:placeholder => "Nombre completo" %>
            </div>

            <div class="small-2 small-offset-0 columns field"> 
              <%= label_tag :empresa ,nil, :class => "tituloCampo"  %>
            </div>
            <div class="small-10  columns field">
               <%= f.text_field :empresa ,:placeholder => "Empresa" %>
            </div>
            
      </div>
         

        <div class="row">
            <div class="small-8 large-8  large-centered small-centered columns field">
                 <%= f.submit :'Actualizar datos' , :class => "button  radius" %>
                  <%= link_to "Eliminar cuenta", abogado_registration_path, :class => "textRojolinks inlineBlock eliminarlink",  method: :delete, data: { confirm: 'Estas Seguro de eliminar tu cuenta?' } ,  :method => :delete %>
         </div>


</div>
      <% end %>
