<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">

        <div class="sheet_body">


         <div class="panellog">
          <div class="row">

            
            <div class=""> 
              <% if !@abogado.foto.url.include? "missing.png" %>
                   <img src="<%= @abogado.foto.url %>" class="alinearbotones effect-circle-1 " style="margin-bottom: 34px;"> 
              <% else %>
                <img src="/img/user64.png" class="alinearbotones" style="margin-bottom: 34px;"> 
              <% end%>                                         
            
            </div>
            
            <div style="margin-left: 95px;"> 
             <h1 id="nombreUsuario" style="margin-bottom: 0px;"><%= @abogado.email %></h1> 
             <div id="correoUsuario" class="links"><%= @abogado.email %></div>
             <span class="detalle">ultimo ingreso, <%= fechalog @abogado.current_sign_in_at %></span>
           </div>

           <hr class="lineaHorizontalAzul">
           <br />
        
         <div class="row">
            
            <div class="large-6 small-6 large-centered small-centered columns end">
               <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>

             <div id="formularioUsuarios"></div>

             <%= render 'formNoEditarAbogado' %>

            </div>
          </div>


         <div class="large-12 small-12 columns">
           <div class="row">

             <div class="small-12  columns" > 
              <h3>Ultimos movimientos</h3>
              <hr class="lineaHorizontalAzul">
              <% @logs.limit(5).each do |log| %>
              <div class="action">
                <span class="in_project tituloCampo">
                  <%= log.mensaje %>, <%= fechalog log.created_at %>
                </span>
              </div>
              <% end %>
              <%= link_to 'Ver Progreso', :progreso, :class=>"textolinks alinearDerecha" %>

              <br />
              <h3>Ultimos procesos creados</h3>
              <hr  class="lineaHorizontalAzul"> 
              <% @procesos.limit(5).each do |proceso| %>

              <div class="action">
                <span class="in_project tituloCampo">
                  <%= proceso.titulo %>, <%= fechalog proceso.created_at %>
                </span>
              </div>
              <% end %>
              <%= link_to 'Procesos', :procesos, :class=>"textolinks alinearDerecha" %>
            </div>

          </div>
          
          <h3>Backup de los datos</h3>
          <hr  class="lineaHorizontalAzul"> 
           <div class="row">
            <div class="large-2 columns small-3"><img src="/img/data.png" class="imagencompartir"/></div>
            <div class="large-10 columns">
              <p><strong>Descargar back-up:</strong> Realiza la descarga de todos los procesos vinculados en tu cuenta</p>
              <br />
                <div class="large-8 small-offset-3 large-offset-3 columns">
                    
                     <%= link_to "Descargar back-up de los proceso (Excel)", procesos_path(format: "xls"), :class =>"button radius" %>
                                 </div>
            </div>
          </div>


        </div>


      </div>       

    </div>
  </div>
</div>
</div>

</body>








