 <tr>
  <td>
	<a id="favoritoHome" class="star alinearbotones" onClick="cambioEstadoFavoritoHome(<%= proceso.id %>)">
      <% if (proceso.favorito) %>
                <i id="ProcesoNoFavorito<%= proceso.id %>" class="foundicon-star centrado" style="display:none"></i>
                <div id="ProcesoFavorito<%= proceso.id %>" class="favoritoSeleccionado centrado" style="display:block"></div>
               <% else %>
                <i id="ProcesoNoFavorito<%= proceso.id %>" class="foundicon-star centrado" style="display:block"></i>
                <div id="ProcesoFavorito<%= proceso.id %>" class="favoritoSeleccionado centrado" style="display:none"></div>
         <% end %>
      </a>
      <%= link_to(proceso) do %> <%= proceso.titulo %>    <% end %>
 </td>
  <td class="centrado"><%= proceso.tipo_proceso.tipo %></td>
  <td class="centrado"><%= proceso.estado_proceso.estado %></td>
  
   <td class="centrado"><%= fechalog proceso.created_at %></td>
   <td class="centrado"><%= fechalog proceso.updated_at %></td>
</tr>