<div id="panelReporteProcesoGeneral" class="row ocultar" >
 <div class="row ">
          <div class="large-4 columns">
               <h3 class="show-for-small">Resumen<hr class="lineaHorizontalAzul"/></h3>
            <div class="panel sinBorde">
              <h4 class="hide-for-small">Resumen<hr class="lineaHorizontalAzul"/></h4>
              <table class="tablaReportes">
				  <thead>
				    <tr>
				      <th width="200"></th>
				      <th>Cantidad</th>
				     
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><%= link_to   "Participantes", {:controller => "participantes", :action => "index", :proceso_id => @proceso.id}, :method=>:post %></td>
				      <td class="centrado"><%= @proceso.participantes.size %></td>
				     
				    </tr>
				     <tr>
				      <td> <%= link_to  "Contratos", {:controller => "contratos", :action => "index", :proceso_id => @proceso.id}, :method=>:post %></td>
				      <td class="centrado" ><%= @proceso.contratos.size %></td>
				      
				     
				    </tr>
				     <tr>
				      <td><%= link_to   "Actividades", {:controller => "actividads", :action => "index", :proceso_id => @proceso.id}, :method=>:post %></td>
				      <td class="centrado"><%= @proceso.actividads.size %></td>
				      
				      
				    </tr>
				     <tr>
				      <td> <%= link_to  "Alertas", {:controller => "alertas", :action => "index", :proceso_id => @proceso.id}, :method=>:get %></td>
				       <td class="centrado"><%= @proceso.alertas.size %></td>
				      
				      
				    </tr>
				     <tr>
				      <td>    <%= link_to  "Documentos", {:controller => "documents", :action => "index", :proceso_id => @proceso.id}, :method=>:get %></td>
				        <td class="centrado"><%= @proceso.documents.size %></td>
				     
				    </tr>
				     <tr>
				      <td><%= link_to  "Conclusiones", {:controller => "estados", :action => "index", :proceso_id => @proceso.id}, :method=>:get %></td>
				         <td class="centrado"><%= @proceso.estados.size %></td>
				      
				      
				    </tr>
				  </tbody>
				</table>
                
				 <br />
           		
            </div>
 
          
 
          </div>
 
 
          <div class="large-8 columns">
 
            <h3 class="show-for-small">Ultimos movimientos<hr class="lineaHorizontalAzul"/></h3>
 
            <div class="panel sinBorde">
              	<h4 class="hide-for-small">Ultimos movimientos<hr class="lineaHorizontalAzul"/></h4>

              	<table class="tablaReportes">
				  <thead>
				    <tr>
				      <th width="350"></th>
				      <th width="200" class="centrado">Fecha</th>
				     
				    </tr>
				  </thead>
				  <tbody>
				    
				    <% @procesoLog.each do |logProceso| %>
                        <tr>
					      <td><%= logProceso.mensaje %></td>
					      <td class="centrado"><%= fechaFormatoActualizado logProceso.created_at %></td>
					    </tr>
                    <% end %>

				    

				  </tbody>
				</table>

            	  <%= link_to 'Ver Progreso', :progreso, :class=>"textolinks alinearDerecha" %>
            	  <br />

	            <h4 class="hide-for-small">Alertas Pendientes<hr class="lineaHorizontalAzul"/></h4>
	            
				<table class="tablaReportes">
				  <thead>
				    <tr>
				      <th width="250" class="centrado">Alerta</th>
				      <th width="150" class="centrado">Fecha</th>
				    </tr>
				  </thead>
				  <tbody>

				  	<% @alertasPendientes.each do |alertaPendiente| %>
                        <tr>
				      		<td><%= alertaPendiente.titulo %></td>
				      		<td class="centrado"><%= fechalog alertaPendiente.termina %></td>
				       	</tr>
					<% end %>

				  </tbody>
				</table>
            	<%= link_to   "Alertas Pendientes", {:controller => "alertas", :action => "index", :proceso_id => @proceso.id}, :class=>"textolinks alinearDerecha ", :method=>:get %> <br />
            </div>
          </div>
        </div>
 
      <!-- End Header Content -->

 	<hr>
 
      <!-- Search Bar -->
 
        <div class="row">
 			<div class="large-12 columns">
	            <div class="radius panel sinBorde">
	 				<h4 class="hide-for-small">Actividades<hr class="lineaHorizontalAzul"/></h4>


	 				<table class="tablaReportes">
					  <thead>
					    <tr>
					      <th width="200">Actividad</th>
					      <th width="150">Inicio</th>
					      <th width="150">Ultima Modificacion</th>
					      
					      <th width="150">Duracion Estimada</th>
					      <th width="150">Estado Actual</th>
					      
					    </tr>
					  </thead>
					  <tbody>
					    
					<% @actividades.order('updated_at DESC').each do |actividad| %>
                        
				       	<tr>
					      <td><%= link_to actividad.nombre, {:controller => "actividads", :action => "index", :proceso_id => @proceso.id,:actividad_id => actividad.id, :nuevoItem => true} %></td>
					      <td><%= fechalog actividad.fechaSeguimiento %></td>
					       <td><%= fechalog actividad.updated_at %></td>
					      <td><% if !actividad.tiempoEjecucion.nil? %>  <%= actividad.tiempoEjecucion %> <%= actividad.medidaTiempo %>
					      		<% else %> - 
					      		<% end %> 
					      </td>
					      <td><%= actividad.estado_actividad.estado %></td>
					     
					    </tr>
					<% end %>

					   
					  </tbody>
					</table>
					<%= link_to actividads_path(:proceso_id => @proceso.id), :class=>"textolinks alinearDerecha " do  %>
                      Ver todas las Actividades
                    <% end %>
	 				
	          	</div>
          	</div>
 		</div>

        <div class="row">
 			<div class="large-12 columns">
	            <div class="radius panel sinBorde">
	 				<h4 class="hide-for-small">Documentos<hr class="lineaHorizontalAzul"/></h4>

	 				<table class="tablaReportes">
					  <thead>
					    <tr>
					      <th width="350">Titulo</th>
					      <th width="150">Fecha Registro</th>
					      <th width="150">Ultima Modificacion</th>
					    </tr>
					  </thead>
					  <tbody>
					  <% @documentos.order('updated_at DESC').each do |documento| %>
                        
				       	<tr>
					      <td>  <img alt="" class="thumbnail alinearbotones" src="/img/doc.png" data-scaled="true" style="width: 16px; height: 16px">  <%= documento.name %></td>
					       <td class="centrado"><%= fechalog documento.created_at %></td>
					       <td class="centrado"><%= fechalog documento.updated_at %></td>
					    </tr>
					<% end %>

					     
					  </tbody>
					</table>
	 				<%= link_to   "Ver todos los documentos", {:controller => "documents", :action => "index", :proceso_id => @proceso.id}, :class=>"textolinks alinearDerecha", :method=>:get %>
	          	</div>
	         </div>
 		</div>

        <div class="row">
 			<div class="large-12 columns">
            	<div class="radius panel sinBorde">
 					<h4 class="hide-for-small">Colaboradores<hr class="lineaHorizontalAzul"/></h4>

 					<table class="tablaReportes">
					  <thead>
					    <tr>
					      <th width="350">Nombre</th>
					      <th class="centrado" width="150">Usuario</th>
					      <th class="centrado" width="150">Fecha de Ingreso</th>
					    </tr>
					  </thead>
					  <tbody>

           		  	<% @proceso.usuarios.order('created_at DESC').each do |usuario| %>
                         <tr>
					      <td> <%= usuario.nombre %></td>
					      <td class="centrado"> <%= usuario.username %></td>
					      <td class="centrado"> <%= fechalog usuario.created_at %></td>
					    </tr>
                    <% end %>
           			</tbody>
					</table>
 				</div>
          	</div>
 		</div>
 </div>