<div id="formCrearNuevoEvento" class="alert-panel " data-alert>
      <div class="alert-panel-title">
        Evento
        <a href="#" class="alert-panel close-reveal-modal" onclick="$('#myModalNuevoEvento').foundation ('reveal', 'close')">&times;</a>
      </div>
      <div id="formularioEvento"></div>
    

      <%= form_for(@event, :remote => true,  :html => { :class => "custom formAspen"} ) do |f| %>
        <div class="alert-panel-message" >
          <div class="row"> 
                <div class="small-2 small-offset-0 columns ">
                  <%= f.label "Titulo", :class => "tituloCampo error alinearDerecha" %>
                </div>
                <div class="small-10 columns field">
                  <%= f.text_field :title, :placeholder => "Titulo" %>
                </div>
                <div class="small-2 small-offset-0 columns ">
                  <%= f.label "Inicia el", :class => "tituloCampo error alinearDerecha" %>
                </div>
                <div class="small-10 columns field">
                  <%= f.datetime_select :start , {prompt: true}, { class: "fechasline" } %>
                </div>
                 <div class="small-2 small-offset-0 columns ">
                  <%= f.label "Finaliza el", :class => "tituloCampo error alinearDerecha" %>
                </div>
                <div class="small-10 columns field">
                  <%= f.datetime_select :end, {}, { class: "fechasline" }  %>
                </div>
                  <div class="small-2 small-offset-0 columns ">
                  <%= f.label "Todo el dia", :class => "tituloCampo error alinearDerecha" %>
                </div>
                <div class="small-10 columns field">
                  <%= f.check_box :allDay, :onclick =>"alertcheck()" %>
                </div>
                 <div class="small-2 small-offset-0 columns ">
                  <%= f.label "Descripcion", :class => "tituloCampo error alinearDerecha" %>
                </div>
                <div class="small-10 columns field">
                  <%= f.text_area :dsecription%>
                  <%= hidden_field_tag :idEvent %>
                </div>
               
          </div>
        </div>
      <div class="alert-panel-action">
          <a href="#" class="small button radius secondary" onclick="$('#myModalNuevoEvento').foundation ('reveal', 'close')">Cerrar</a>
          <%= f.submit :'Guardar Evento' , :class => " button radius small"  %>
      </div>
      <% end %>
</div>

<script>

  $('#evento_start').datetimepicker({dateFormat: "dd MM yy", timeFormat: ', hh:mm tt',stepHour: 1,stepMinute: 10});
  jQuery('#evento_end').datetimepicker({dateFormat: "dd MM yy", timeFormat: ', hh:mm tt',stepHour: 1,stepMinute: 10});
</script>