 <section id="actividad_<%= actividad.id %>" class="group today upcoming_events">
    <header>
        <h2><%= actividad.nombre %></h2>
    </header>
    <article class="calendar_event">
        <header>
                
                <span class="month"><%= fechaFormato1 actividad.fechaseguir %></span>
                <% if actividad.estado_actividad.estado =="Abierta" %>
                           <span class="day" style="background-color: #457a1a !important"><%= fechaDia actividad.fechaseguir %></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Atrasada" %>
                            <span class="day" style="background-color: #970b0e  !important"><%= fechaDia actividad.fechaseguir %></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Terminada" %>
                            <span class="day" style="background-color: #000 !important"><%= fechaDia actividad.fechaseguir %></span>
                <% end %>
                 <% if actividad.estado_actividad.estado =="Programada" %>
                            <span class="day" style="background-color: rgb(16, 16, 156) !important"><%= fechaDia actividad.fechaseguir %></span>
                <% end %>
        </header>

        <ul>
            <li id="CalendarEvent_5615518">
               <% if actividad.estado_actividad.estado =="Abierta" %>
                Estado: <span class="bold" style="color: #457a1a"><%= actividad.estado_actividad.estado%></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Atrasada" %>
                Estado: <span class="bold" style="color: #970b0e"><%= actividad.estado_actividad.estado%></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Terminada" %>
                Estado: <span class="bold" style="color: #000"><%= actividad.estado_actividad.estado%></span>
                <% end %> 
                <% if actividad.estado_actividad.estado =="Programada" %>
                Estado: <span class="bold" style="color: rgb(16, 16, 156)"><%= actividad.estado_actividad.estado%></span>
                <% end %> 
                
                <p style="margin-bottom: 0px;">Encargado: <%= actividad.participante.nombre %> </p>
                <p style="margin-bottom: 0px;">Descripcion: <%= actividad.descripcion %> </p>
                
                <% if actividad.tiempoEjecucion %>
                   <p style="margin-bottom: 0px;">Tiempo Estimado: <%= actividad.tiempoEjecucion %> <%= actividad.medidaTiempo%></p>
                <% end %> 

                <%= button_to 'Ver', edit_actividad_path(actividad, :proceso_id => @proceso.id), :remote => true, :id => "new_actividad_link",:class => "tiny button radius alinearbotones botoncalendario" %>
              
                <%= link_to "Eliminar", actividad, :class => "textRojolinks inlineBlock eliminarlink",  method: :delete, data: { confirm: 'Estas Seguro de eliminar esta actividad?' } , :remote => true %>

            </li>
        </ul>
    </article>
</section>