 <section id="actividad_<%= actividad.id %>" class="group today upcoming_events">
    <header>
        <h2><%= actividad.nombre %></h2>
    </header>
    <article class="calendar_event">
        <header>
                <span class="day_of_week"><%= fechaDiaSemana actividad.fechaSeguimiento %></span>
                <span class="month"><%= fechaMes actividad.fechaSeguimiento %></span>
                <% if actividad.estado_actividad.estado =="Abierto" %>
                           <span class="day" style="background-color: #457a1a !important"><%= fechaDia actividad.fechaSeguimiento %></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Atrasada" %>
                            <span class="day" style="background-color: #970b0e  !important"><%= fechaDia actividad.fechaSeguimiento %></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Terminada" %>
                            <span class="day" style="background-color: #000 !important"><%= fechaDia actividad.fechaSeguimiento %></span>
                <% end %>
               

        </header>
        <ul>
            <li id="CalendarEvent_5615518">
               <% if actividad.estado_actividad.estado =="Abierto" %>
                <span style="color: #457a1a"><%= actividad.estado_actividad.estado%></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Atrasada" %>
                <span style="color: #970b0e"><%= actividad.estado_actividad.estado%></span>
                <% end %>
                <% if actividad.estado_actividad.estado =="Terminada" %>
                <span style="color: #000"><%= actividad.estado_actividad.estado%></span>
                <% end %> 
                <a href="#"><%= actividad.participante.nombre %></a>
                <a href="#"><%= actividad.descripcion%></a>
                <% if actividad.tiempoEjecucion %>
                  <a href="#"><%= actividad.tiempoEjecucion%> <%= actividad.medidaTiempo%></a>
                <% end %> 

                 <%= button_to 'Ver', edit_actividad_path(actividad, :proceso_id => @proceso.id), :remote => true, :id => "new_actividad_link",:class => "tiny button  radius " %>
      
                <%= link_to "Eliminar", actividad, :class => "textRojolinks inlineBlock",  method: :delete, data: { confirm: 'Estas Seguro de eliminar esta actividad?' } , :remote => true %>


                

            </li>
        </ul>
    </article>
</section>