<%= form_for(@actividad, :remote => true, :html => { :class => "custom ocultar",:id => "formActividad"} ) do |actividad| %>

<div class="row">

    <div class="small-2 small-offset-0 columns ">
      <%= actividad.label "Nombre Actividad", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= actividad.text_field :nombre, :placeholder => "Nombre de la actividad" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= actividad.label "Encargado", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
       <span data-tooltip class="tip-top" title="Participante principal y encargado de la actividad">
      <%= actividad.select :participante_id, @proceso.participantes.map {|r| [r.rol_participante.rol+' - '+r.nombre+' '+r.apellido,r.id]}, :prompt => "- Encargado -" %>
    </div>
</div>
  
<div class="row">  
    <div class="small-2 small-offset-0 columns ">
      <%= actividad.label "Estado de la Actividad", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
           <%= actividad.select :estado_actividad_id, @estadoActividads.map {|r| [r.estado,r.id]}, :prompt => "- Estado de la Actividad -" %>
    </div>
    <div class="small-2 small-offset-0 columns ">
      <%= actividad.label "Fecha Seguimiento", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
          <span data-tooltip class="tip-top" title="Fecha de inicio de la actividad?">
          <%= actividad.text_field :fechaSeguimiento , :placeholder => "Fecha Seguimiento" %>
    </div>
</div>

<div class="row">  
      <div class="small-2 small-offset-0 columns ">
          <%= actividad.label "Tiempo ejecucion", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-4 columns field">
              <span data-tooltip class="tip-top" title="Cúanto tiempo dura la actividad?">
              <%= actividad.number_field :tiempoEjecucion, :placeholder => "Tiempo de ejecución" %>
        </div>

        <div class="small-2 small-offset-0 columns ">
          <%= actividad.label "Medida de Tiempo", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-4 columns field">
               <%= actividad.select :medidaTiempo, [["Horas", "Horas"]]+ [["Dias", "Dias"]]+ [["Semanas", "Semanas"]], :prompt => "- Medida de Tiempo -" %>
        </div>
</div>

<hr>
 <%= link_to 'Mostrar Campos Opcionales', "javascript:eventoCamposOpcionalesActividad()", :class=>"textolinks", :id => "mostrarCamposOpcionales" %>
<hr>


<div id="camposOpcionalesActividad"  class="row ocultar">
   
      <section>
        <div class="small-2 small-offset-0 columns ">
          <%= actividad.label "descripción", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-10 columns field">
          <span data-tooltip class="tip-top" title="descripción principal de la actividad y objetivo final de la misma">
          <%= actividad.text_area :descripcion, :placeholder => "Descripcion de la actividad, máximo 250 caracteres",:size => "30x50" %>
        </div>

        <div class="small-2 small-offset-0 columns ">
          <%= actividad.label "Observaciones", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-10 columns field">
          <span data-tooltip class="tip-top" title="Observaciones importantes que se deben tener en cuenta para realizár en la actividad">
          <%= actividad.text_area :observacion, :placeholder => "Observaciones, máximo 250 caracteres" %>
        </div>
        

       

    </section>
</div>


<div class="row"> 
    <div class="small-1 small-offset-7 columns field"></div>
     <div class="small-1 columns field">
      <%= link_to 'Cancelar', "javascript:listarActividades()", :class=>"textoGrislinks" %>
     </div>
     <div class="small-2 columns field">
      <%= actividad.submit :'Guardar Actividad' , :class => " button success radius" %></div>
     </div>
     <%= hidden_field_tag :proceso_id, @proceso.id %>
     <%= hidden_field_tag :displayOpcionales, false , :id => "displayOpcionales" %>

</div>
  
<% end %>

<script>
  jQuery('#actividad_fechaSeguimiento').datepicker({dateFormat: "dd MM yy"});
  jQuery('#actividad_actividad_eventos_fecha').datepicker({dateFormat: "dd MM yy"});
   $(document).foundation();
</script>