<%= form_for(@actividad, :html => { :class => "custom"} ) do |f| %>

<div class="row">

    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Nombre Actividad", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :nombre, :placeholder => "Nombre" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "descripción", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_area :descripcion, :placeholder => "Máximo 250 caracteres" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Observación", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_area :observacion, :placeholder => "Máximo 250 caracteres" %>
    </div>
     <div class="small-2 small-offset-0 columns ">
      <%= f.label "Fecha Seguimiento", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
          <%= f.date_select :fechaSeguimiento %>
    </div>

    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Tiempo ejecución", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
          <%= f.number_field :tiempoEjecucion, :placeholder => "Tiempo de ejecución" %>
    </div>

    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Medida de Tiempo", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
           <%= f.select :medidaTiempo, [["Medida de Tiempo", 0]] + [["Horas", 1]]+ [["Dias", 2]]+ [["Semanas", 2]], { :disabled => ["Medida de Tiempo", 0] } %>
    </div>
</div>


<div class="row"> 
  <% if @actividad.errors.any? %>
      <div class="small-4 columns field"></div>
      <div class="small-4 small-offset-3 columns field">
        <h2><%= pluralize(@actividad.errors.count, "errore") %> encontrados</h2>
      </div>
      <div class="small-5 columns field">
        <%= f.submit :'Guardar Actividad' , :class => " button success radius" %></div>
     </div>
  <% else %>      
      <div class="small-1 small-offset-8 columns field"></div>
      <div class="small-2 columns field">
        <%= f.submit :'Guardar Actividad' , :class => " button success radius" %></div>
     </div>
  <% end %>
  <%= hidden_field_tag :proceso_id, @proceso.id %>
</div>
  
  
<% end %>
