<%= form_for(@actividad, :remote => true, :html => { :class => "custom",:id => "formActividad"} ) do |f| %>

<div class="row">

    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Nombre Actividad", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :nombre, :placeholder => "Nombre" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Encargado", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.select :participante_id, [["Encargado", 0]] + @proceso.participantes.map {|r| [r.nombre,r.id]}, { :disabled => ["Encargado", 0] } %>
    </div>

    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Estado de la Actividad", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
           <%= f.select :estado_actividad_id, [["Estado de la Actividad", 0]] + @estadoActividads.map {|r| [r.estado,r.id]}, { :disabled => ["Estado de la Actividad", 0] } %>
    </div>
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Fecha Seguimiento", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
          <%= f.text_field :fechaSeguimiento , :placeholder => "Fecha Seguimiento" %>
    </div>
</div>

<div class="row">
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "descripción", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-10 columns field">
      <%= f.text_area :descripcion, :placeholder => "Máximo 250 caracteres",:size => "30x30" %>
    </div>

</div>

<hr>
 <%= link_to 'Mostrar Campos Opcionales', "javascript:eventoCamposOpcionalesActividad()", :class=>"textolinks", :id => "mostrarCamposOpcionales" %>
<hr>

<div id="camposOpcionalesActividad"  class="row ocultar">
   
      <section>
        <div class="small-2 small-offset-0 columns ">
          <%= f.label "Observacies", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-10 columns field">
          <%= f.text_area :observacion, :placeholder => "Máximo 500 caracteres" %>
        </div>
        

        <div class="small-2 small-offset-0 columns ">
          <%= f.label "Tiempo ejecución", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-4 columns field">
              <%= f.number_field :tiempoEjecucion, :placeholder => "Tiempo de ejecución" %>
        </div>

        <div class="small-2 small-offset-0 columns ">
          <%= f.label "Medida de Tiempo", :class => "tituloCampo error alinearDerecha" %>
        </div>
        <div class="small-4 columns field">
               <%= f.select :medidaTiempo, [["Medida de Tiempo", 0]] + [["Horas", "Horas"]]+ [["Dias", "Dias"]]+ [["Semanas", "Semanas"]], { :disabled => ["Medida de Tiempo", 0] } %>
        </div>

    </section>
</div>


<div class="row"> 
    <div class="small-1 small-offset-7 columns field"></div>
     <div class="small-1 columns field">
      <%= link_to 'Cancelar', "javascript:listarActividades()", :class=>"textoGrislinks" %>
     </div>
     <div class="small-2 columns field">
      <%= f.submit :'Guardar Actividad' , :class => " button success radius" %></div>
     </div>
     <%= hidden_field_tag :proceso_id, @proceso.id %>
</div>
  
<% end %>

<script>
  $(document).foundation();
  jQuery('#actividad_fechaSeguimiento').datepicker({dateFormat: "dd MM yy"});
</script>