<body>

<div id="workspace" class="workspace">
		<div class="container stack_container" style="width: 960px;">
			<div class="panel sheet project active blank_slate fondoGris">

				<header>
				<ul class="breadcrumbs">
					<li><%= link_to 'Procesos', procesos_path %></li>
					<li><%= link_to @proceso.id , @proceso %></li>
					<li><%= link_to @proceso.titulo , @proceso %></li>
					<li><%= link_to actividads_path(:proceso_id => @proceso.id) do  %>
                          Actividades
                          <% end %>
					</li>
					<li><a href="#"><%= @actividad.nombre %></a></li>
					<li><a href="#">Editar Actividad</a></li>
				</ul>
				</header>

				<div class="panel sheet topics fondoGris"
					style="margin-left: 20px; margin-bottom: -20px;"
					data-behavior=" prevent_reload_when_stacked">

					<header class="has_buttons">
					<div data-behavior="edit_project_header expandable">
						<div class="collapsed_content ">
							<div class="row">
								<div class="small-12 columns">
									<div class="small-6 columns left">
										<h1 class="field">Editar Actividad</h1>
									</div>

									
									<div class="small-3 columns right">
											<%= button_to "Regresar", @proceso, :class => "small secondary button radius margenTop25", :method => :get  %>
									</div>
									

								</div>
							</div>
						</div>
					</div>

					</header>

					<div class="sheet_body ">
						<article class="participants new expanded">
							<%= render 'form' %>
						</article>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>


<%= link_to 'Historial de la Actividad', "javascript:eventoTareasEjecutadas()", :class=>"textolinks ocultar", :id => "mostrarTareasEjecutadas" %>
<hr>

<div id="camposTareasEjecutadas"  class="row ocultar">
    
    <div class="large-3 small-3 small-offset-9 columns right ">
      <a id="add" class="pointer" onclick="adicionarRegistroActividad()" >
          <img src="/img/addgreen.png" width="20px" class="alinearbotones"> 
          <span class="textolinksVerde">Agregar Registro</span>
      </a>  
      <%= link_to 'add registro ok', :controller => :actividads, :action => :nuevoRegistro , :actividad_id  => @proceso.id  , :remote => true %>

    </div>
    <br />
    <br />
      <table class="tablaReportes">
          <thead>
            <tr>
              <th width="350">Descripcion</th>
              <th width="200" class="centrado">Fecha</th>
              <th width="200" class="centrado">Tiempo</th>
              <th width="200" class="centrado">Medida de Tiempo</th>
              <th width="50" class="centrado"></th>
             
            </tr>
          </thead>
          <tbody id="tablaTareasEjecutadas">
            
           
<%= actividad.fields_for :actividad_eventos do |p| %>
<tr id="regsitroActividad<%= @cantidadRegistros %>
">
    <td>
      <%= p.text_field :descripcion, :placeholder => "Nombre de la actividad" %>
    </td>
    <td class="centrado">
      <%= p.text_field :fecha , :placeholder => "Fecha Seguimiento" %>
    </td>
    
    <td class="centrado">
      <%= p.number_field :tiempo, :placeholder => "Tiempo de ejecución" %>
    </td>
    <td class="centrado">
        <%= p.select :medidaTiempo, [["Medida de Tiempo", 0]] + [["Horas", "Horas"]]+ [["Dias", "Dias"]]+ [["Semanas", "Semanas"]], { :disabled => ["Medida de Tiempo", 0] } %>
    </td>
    <td class="centrado">
        <a id="remove" class="pointer" onclick="eliminarRegistroActividad()" >
          <img src="/img/remove.png" width="20px">
        </a>
    </td>
     
</tr>

<% end %>
          </tbody>
        </table>


</div>


