<body>
  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
            <li><%= link_to @proceso, :class => "tituloProceso" do  %> 
                  <%= @proceso.tipo_proceso.tipo %> : <%= @proceso.titulo %>
                <% end %>
            </li>
            <li class="">Actividades</li>
          </ul>
        </header>
        <div id="date"></div>
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">
          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                    <div id="paneltituloActividad" class="small-5 columns left">
                      <h1 id="tituloActividad">
                         <% if  @actividadesRender == "true" %>
                          Actividad
                          <% else %>
                          Actividades
                          <% end %>
                      </h1>
                    </div>
                   
                    <div id="botonesActividades" class="small-2 small-offset-4 columns left">
                        
                       <% if  @actividadesRender == "true" %>

                         <%= button_to 'Nueva Actividad', {:controller => "actividads", :action => "new", :id => @proceso.id},  :remote => true, :class => "button radius ocultar", :id => "new_actividad_link" %>

                        <%= button_to 'Listar Actividades',"javascript:listarActividades()" , :class => "button radius ", :id => "listar_actividades_link" %>

                        <% else %>

                           <%= button_to 'Nueva Actividad', {:controller => "actividads", :action => "new", :id => @proceso.id},  :remote => true, :class => "button radius ", :id => "new_actividad_link" %>

                        <%= button_to 'Listar Actividades',"javascript:listarActividades()" , :class => "button radius ocultar", :id => "listar_actividades_link" %>


                        <% end %>

                    </div>
                   
                </div>
              </div>
            </div>
          </div>
          
          <div class="blank_slate_arrow"></div>
          

          </header>

          <div class="row">
             <div class="small-5 small-offset-7 columns left">
              <dl id="listaFiltros" class="sub-nav">
                  <dd id="filtroTodos" class="active">
                      <%= link_to 'Todas', :controller => :actividads, :action => :filtrado , :proceso_id  => @proceso.id , :estado_id => 0 , :remote => true %>
                  </dd>
                  <dd id="filtroProgramadas">
                      <%= link_to 'Programadas', :controller => :actividads, :action => :filtrado , :proceso_id  => @proceso.id , :estado_id => 4 , :remote => true %>
                  </dd>
                  <dd id="filtroAbiertas"> 
                    <%= link_to 'Abiertas', :controller => :actividads, :action => :filtrado , :proceso_id  => @proceso.id , :estado_id => 1 , :remote => true %>
                  </dd>
                  <dd id="filtroAtrasadas">
                    <%= link_to 'Atrasadas', :controller => :actividads, :action => :filtrado , :proceso_id  => @proceso.id , :estado_id => 3 , :remote => true %>
                  </dd>
                  <dd id="filtroTerminadas">
                    <%= link_to 'Terminadas', :controller => :actividads, :action => :filtrado , :proceso_id  => @proceso.id , :estado_id => 2 , :remote => true %>
                  </dd>
              </dl>
            </div>
          </div>

          <div class="sheet_body fondoGris">
            <div id="date_display_Project:2733915" class="date_display" data-autoview="">
                        
                        <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>
                        <% if @actividad.activo == false %>
                          <div id="noticeMsgEliminar" data-alert class="alert-box alert radius" style="text">Si desea restablecer la actividad, use el boton guardar actividad.</div> 
                        <% end %>


                        <div id="formularioActividades"></div>


                        <% if  @actividadesRender == "true" %>
                          
                          <section id="actividades" class="calendar_events ocultar" >
                            <%= render @actividads %>
                          </section>

                            <%= render ('form') %>
                            <script type="text/javascript"> $("#formActividad").removeClass( "ocultar" ); </script>

                        <% else %>

                           <section id="actividades" class="calendar_events">
                            <%= render @actividads %>
                           </section>
                          
                        <% end %>
                        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Mostrar este mensaje si la lista de participantes esta vacia -->
<% if @actividads.size == 0 %>
<ol id="joyrideActividad" class="joyride-list" data-options="nextButton : true,tipAnimation : 'fade',tipAnimationFadeSpeed: 300" data-joyride>
  <li data-id="new_actividad_link" data-text="Salir">
    <p>Inicia creando y asignando una nueva actividad</p>
  </li>
</ol>
<% end %>


</body>