<body>
  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
            <li><%= link_to 'Procesos', procesos_path %></li>
            <li><%= link_to @proceso.id , @proceso %></li>
            <li><%= link_to @proceso.titulo , @proceso %></li>
            <li><a href="#">Actividades</a></li>
          </ul>
        </header>
        
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">
          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                    <div class="small-5 columns left">
                      <h1>
                        Actividades
                      </h1>
                    </div>
                    <div class="small-4 columns left">
                      <dl class="sub-nav">
                          <dd class="active"><a href="#">Todas</a></dd>
                          <dd><a href="#">Abiertas</a></dd>
                          <dd><a href="#">Atrasadas</a></dd>
                          <dd><a href="#">Terminadas</a></dd>
                      </dl>
                    </div>
                    <div class="small-2 columns left">
                        <%= button_to "Nueva Actividad", {:controller => "actividads", :action => "new", :id => @proceso.id},:class => "button radius ", :method=>:post  %>
                    </div>
                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>
          <div class="sheet_body fondoGris">
            <div id="date_display_Project:2733915" class="date_display" data-autoview="">
                        <section class="calendar_events">
                            
                            <% @actividads.each do |actividad| %>
                              <%= render 'actividad',:actividad => actividad%>
                            <% end %>
                        </section>
                        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>