

    <article id="document_<%= document.id %>" class="attachment">

      <table style="background:transparent;">
                    <tbody>
                      <tr>
                        <td class="icon">
                          <figure class="full_width">
                            <a data-stacker="false" href="#">
                              <% if document.activo %>
                              <img id="img1doc<%= document.id %>" class="thumbnail" src="/img/iconos/docOk.png" data-scaled="true" style="width: 38px; margin: 0 14px 10px 67px;"/>
                              <img id="img2doc<%= document.id %>" class="thumbnail ocultar" src="/img/addArchivo.png" data-scaled="true" style="width: 38px; margin: 0 14px 10px 67px; opacity: 0.4;" /> 
                              <% else %>
                              <img id="img2doc<%= document.id %>" class="thumbnail" src="/img/addArchivo.png" data-scaled="true" style="width: 38px;margin: 0 14px 10px 67px; opacity: 0.4;" />
                              <img id="img1doc<%= document.id %>" class="thumbnail ocultar" src="/img/iconos/docOk.png" data-scaled="true" style="width: 38px; margin: 0 14px 10px 67px;" />
                              <% end %>
                            </a>
                          </figure>
                        </td>

                        <td class="textFiles">
                          

                          <% if document.activo %>
                           <input id="documentocheck<%= document.id %>" checked type="checkbox" name="documentocheck<%= document.id %>" value="<%= document.activo %>"  style="float: left;margin: 6px 9px;" onClick="cambioEstadoDocumento(<%= document.id %>)"/>
                            <% else %>
                           <input id="documentocheck<%= document.id %>"  type="checkbox" name="documentocheck<%= document.id %>" value="<%= document.activo %>"  style="float: left;margin: 6px 9px;" onClick="cambioEstadoDocumento(<%= document.id %>)"/>

                          <% end %>

                          <h3 class="filename" style="width: 400px !important;margin-bottom: 7px;">
                            <span style="margin-top: 0px; "><%= document.name %></span>
                          </h3>

                          <p class="detalles" style="margin: -4px 9px;" >
                                Actualizado <span class="time"><%= fechaFormatoActualizado document.updated_at %></span>
                          </p>
                         
                          <div class="authorship">
                            
                            <p class="meta">
                              <% if !document.usuario.nil? %>
                              <span>Adjuntado</span>
                              <span class="creator">por <%= document.usuario.nombre %></span>
                              <time>, <%= fechaFormatoActualizado document.updated_at %></time>
                              <% end %>
                            </p>

                            <p>
                               <% if !document.attachment.url.include? "missing.png" %>
                                  <a data-stacker="false" href="<%= document.attachment.url %>" class="textGrislinks" target="_blank">Descargar / 
                                  </a>
                                  <%= link_to 'Editar /', edit_document_path(document, :proceso_id => @proceso.id,:documento_id => document.id) ,:class =>"textGrislinks" %>
                              <% else %>
                                  <%= link_to 'Adjuntar documento /', edit_document_path(document, :proceso_id => @proceso.id,:documento_id => document.id) ,:class =>"textGrislinks" %>
                            <% end %>

                             
                             
                             
                              <%= link_to 'Eliminar', document_path(document, :proceso_id => @proceso.id), method: :delete, data: { confirm: 'Estas seguro de eliminar este documento?' }, :class => "textRojolinks inlineBlock eliminarlink" %>
                            </p>
                          </div>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>


      

</article>

