

    <article id="document_<%= document.id %>" class="attachment">

      <table style="background:transparent;">
                    <tbody>
                      <tr>
                        <td class="icon">
                          <figure class="full_width">
                            <a data-stacker="false" href="#">

                              <img alt="" class="thumbnail" src="/img/doc.png" data-scaled="true" style="width: 84px; height: 92px;margin: 0 25px 10px 30px;">
                            </a>
                          </figure>
                        </td>

                        <td class="textFiles">
                          <h3 class="filename">
                           <%= document.name %>
                            
                          </h3>

                          <div class="authorship">
                            
                            <p class="meta">
                              <% if !document.usuario.nil? %>
                              <span>Adjuntado</span>
                              <span class="creator">por <%= document.usuario.nombre %></span>
                              <time>, <%= fechaFormatoActualizado document.updated_at %></time>
                              <% end %>
                            </p>

                            <p class="">
                              <a data-stacker="false" href="<%= document.attachment.url %>" class="textGrislinks">Descargar /</a>
                              <%= link_to 'Editar /', edit_document_path(document, :proceso_id => @proceso.id,:documento_id => document.id) ,:class =>"textGrislinks" %>
                              <span></span>
                              <%= link_to 'Eliminar', document_path(document, :proceso_id => @proceso.id), method: :delete, data: { confirm: 'Estas seguro de eliminar este documento?' }, :class => "textRojolinks inlineBlock eliminarlink" %>
                            </p>
                          </div>
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>


      

</article>

