<h1>Listing agendas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agendas.each do |agenda| %>
  <tr>
    <td><%= agenda.titulo %></td>
    <td><%= link_to 'Show', agenda %></td>
    <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
    <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<br />

<body>
    <button id="button1" value="button1"> ajax</button>

</body>

<%= link_to 'New Agenda', new_agenda_path %>
