<%= form_for @proceso,  :html => { :class => "custom",:id => "formProceso"}  do |f| %>

<div class="row">

  <div class="small-2 small-offset-0 columns ">
    <h5> <%= f.label "Tipo de Proceso", :class => "tituloCampo error alinearDerecha" %></h5>
  </div>
  <div class="small-4 columns field">
     <%= f.select :tipo_proceso_id, [["Seleccionar Tipo Proceso", 0]] + @tipos_procesos.map {|r| [r.tipo,r.id]}, { :disabled => ["Seleccionar Tipo Proceso", 0] } , :id => "listaTiposProceso" %>
  </div>
  <div class="small-5 columns marginTopLeft">
    <%= link_to 'Crear tipo proceso', "javascript:eventoCamposOpcionalesActividad()", :class=>"textolinks","data-reveal-id" => "myModalTipoProceso" %>
  </div>

  <hr/>

  
</div> 

<div class="row"> 
  <div class="small-2 small-offset-0 columns ">
    <%= f.label :titulo_, :class => "tituloCampo error alinearDerecha" %>
  </div>
  <div class="small-4 columns field">
    <span data-tooltip class="tip-top" title="Ej: Demanda de alimentos en contra de ...">
    <%= f.text_field :titulo , :placeholder => "Titulo del proceso "%>
  </div>
   <div class="small-2 small-offset-0 columns ">
    <%= f.label :ciudad_, :class => "tituloCampo error alinearDerecha" %>
  </div>
  <div class="small-4 columns field">
    <span data-tooltip class="tip-top" title="País, Ciudad">
    <%= f.text_field :ciudad , :placeholder => "Ciudad del proceso"%>
  </div>
</div>
<div class="row"> 
 <div class="small-2 small-offset-0 columns ">
    <%= f.label :referencia_, :class => "tituloCampo error alinearDerecha" %>
  </div>
  <div class="small-4 columns field">
    <span data-tooltip class="tip-top" title="Si se maneja una referencia interna - Ej: PD001">
    <%= f.text_field :referencia , :placeholder => "Referencia "%>
  </div>
</div>
<div class="row"> 
  <div class="small-2 small-offset-0 columns ">
    <%= f.label :objetivo_, :class => "tituloCampo error alinearDerecha" %>
  </div>
  <div class="small-10 columns field">
    <span data-tooltip class="tip-top" title="Descripción del proceso a llevar a cabo junto con el objetivo a alcanzar">
    <%= f.text_area :objetivo, :rows => 10, :cols => 27, :placeholder => "Objetivo del proceso, máximo 250 caracteres"  %>
  </div>
  
  
</div>
<div class="row"> 

     <div class="small-1 small-offset-7 columns field"></div>
     <div class="small-1 columns field margenTop25">
      <%= link_to 'Cancelar', procesos_path, :class=>"textoGrislinks" %>
     </div>
     <div class="small-2 columns field">
      <%= f.submit :'Crear Proceso' , :class => " button success radius" %></div>
     </div>

</div>

<% end %>

<script>
  $(document).foundation();
</script>