<%= form_for(@proceso) do |f| %>
  <% if @proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proceso.errors.count, "error") %> prohibited this proceso from being saved:</h2>

      <ul>
      <% @proceso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">


  <div class="small-1 small-offset-3 columns field"><%= f.label :referencia, :class => "tituloCampo" %></div>
  <div class="small-5 columns field"><%= f.text_field :referencia , :placeholder => "Número de Referencia"%></div>
  <div class="small-3 columns"></div>

  <div class="small-1 small-offset-3 columns field"><%= f.label :titulo, :class => "tituloCampo" %></div>
  <div class="small-5 columns field"><%= f.text_field :titulo , :placeholder => "Titulo del proceso"%></div>
  <div class="small-3 columns"></div>

  <div class="small-1 small-offset-3 columns field"><%= f.label :objetivo, :class => "tituloCampo" %></div>
  <div class="small-5 columns field"><%= f.text_area :objetivo, :rows => 10, :cols => 25, :placeholder => "Objetivo del proceso, máximo 250 caracteres"  %> </div>
  <div class="small-3 columns"></div>
  
  <div class="small-1 small-offset-3 columns field"><%= f.label :ciudad, :class => "tituloCampo" %></div>
  <div class="small-5 columns field"><%= f.text_field :ciudad , :placeholder => "Ciudad"%></div>
  <div class="small-3 columns"></div>
  
  
  <div class="small-3  small-offset-5 columns field right">
    <%= f.submit :'Guardar Proceso' , :class => " button success radius" %></div>
  <div class="small-3 columns"></div>


</div>
<% end %>
