<tr>
  <td>
  	<a id="favoritoHome" class="cursormano" onClick="cambioEstadoFavoritoHome2(<%= proceso.id %>)">
            <% if (proceso.favorito) %>
              <div id="Proceso2NoFavorito<%= proceso.id %>" class="foundicon-star" style="display:none"></div>
              <div id="Proceso2Favorito<%= proceso.id %>" class="favoritoSeleccionado" style="display:block"></div>
            <% else %>
              <div id="Proceso2NoFavorito<%= proceso.id %>" class="foundicon-star" style="display:block"></div>
              <div id="Proceso2Favorito<%= proceso.id %>" class="favoritoSeleccionado" style="display:none"></div>
            <% end %>
        </a>
   </td>
  <td>
  	<%= link_to(proceso,:class => "titulocontendiotablaPrincipal") do  %>
  		<%= proceso.titulo %> 
  	<% end %>
  </td>
  <td>
  		<% if !proceso.referencia.nil? %> <%= proceso.referencia %> <%end%> 
  </td>
  <td>
  		<% if !proceso.estado_proceso.nil? %> 

       <% if proceso.estado_proceso.estado =="sinIniciar" %>
       <div class="circulorojo" style="background: White !important"></div>
      <% end %>
      <% if proceso.estado_proceso.estado =="Abierta" %>
       <div class="circulorojo" style="background: Green !important"></div>
      <% end %>
      <% if proceso.estado_proceso.estado =="Cerrada" %>
      <div class="circulorojo" style="background: Purple !important"></div>
      <% end %> 
      <% if proceso.estado_proceso.estado =="Aplazada" %>
      <div class="circulorojo" style="background: Orange !important"></div>
      <% end %> 
      <% if proceso.estado_proceso.estado =="Vencieron Terminos" %>
      <div class="circulorojo" style="background: red !important"></div>
      <% end %> 

      <%= proceso.estado_proceso.estado %>

      <%end%>
  </td>
  <td>
  		<%= fechaFormato1 proceso.updated_at %>
  </td>
  <td>
  		 <% @listaparticipantes = Participante.participante_principal(proceso.id) %>   
                <% if !@listaparticipantes.nil? && !@listaparticipantes.empty? %> 
                    <% @listaparticipantes.each do |participantePrincipal| %>
                       <%=  link_to participantePrincipal.nombre+" "+participantePrincipal.apellido, {:controller => "participantes", :action => "index", :proceso_id => proceso.id,:participante_id => participantePrincipal.id, :nuevoItem => true}, :class => ""   %>,
                <% end %>

                <% else %>
                     <%= link_to "Crear Participante / Cliente", {:controller => "participantes", :action => "index", :proceso_id => proceso.id, :nuevoItem => true},:class => "letraAzul"  %>
                <% end %>

  </td>
  <td>
  		<% proceso.abogados.each do |usuarioConAcceso| %>
                <a href="#" data-reveal-id="#">
                                    	
                     <% if !usuarioConAcceso.foto.url.include? "missing.png" %>
                           <img src="<%= usuarioConAcceso.foto.url %>" class="alinearbotones effect-circle-19 " style="margin-bottom: 34px;"> 
                      <% else %>
                        <img src="/img/user.png" title="<%= usuarioConAcceso.email %>" class="effect-circle-19" style="   margin-left: 3px;">
                      <% end%> 

                </a>

          <% end %>
  </td>
</tr>