<article class="card fondoGris">
        <a id="favoritoHome" class="star" onClick="cambioEstadoFavoritoHome(<%= proceso.id %>)">
            <% if (proceso.favorito) %>
              <div id="ProcesoNoFavorito<%= proceso.id %>" class="foundicon-star" style="display:none"></div>
              <div id="ProcesoFavorito<%= proceso.id %>" class="favoritoSeleccionado" style="display:block"></div>
            <% else %>
              <div id="ProcesoNoFavorito<%= proceso.id %>" class="foundicon-star" style="display:block"></div>
              <div id="ProcesoFavorito<%= proceso.id %>" class="favoritoSeleccionado" style="display:none"></div>
            <% end %>
        </a>
    <%= link_to(proceso) do  %>
      
        <h5><%= proceso.titulo %> </h5>
            <p style="margin-bottom: 5px;">Ref <%= proceso.id %>  <% if !proceso.referencia.nil? %>/ <%= proceso.referencia %> <%end%> </p>
            <p style="font-size: 12px !important;margin-bottom: 5px;">
                Modificado <%= fechaFormato1 proceso.updated_at %>
            </p>
             
             <p style="font-size: 12px !important;margin-bottom: 5px;"> 
                <% if !proceso.estado_proceso.nil? %> Estado: <%= proceso.estado_proceso.estado %><%end%>
            </p>
            <p style="font-size: 12px !important;">
               
                 <% @listaparticipantes = Participante.participante_principal(proceso.id) %>   
                <% if !@listaparticipantes.nil? && !@listaparticipantes.empty? %> 
                Cliente:
                    <% @listaparticipantes.each do |participantePrincipal| %>
                       <%=  link_to participantePrincipal.nombre+" "+participantePrincipal.apellido, {:controller => "participantes", :action => "index", :proceso_id => proceso.id,:participante_id => participantePrincipal.id, :nuevoItem => true}, :class => ""   %>,
                    <% end %>

                    <% else %>
                         <%= link_to "Crear Participante / Cliente", {:controller => "participantes", :action => "index", :proceso_id => proceso.id, :nuevoItem => true},:class => "letraAzul"  %>
                    <% end %>
 


            </p>

            <div class="panelAvatarUsuario">
                <% proceso.usuarios.each do |usuarioConAcceso| %>
                    <div class="people">
                         <img src="/img/user.png" title="<%= usuarioConAcceso.username %>">
                    </div>
                 <% end %>
            </div>
    <% end %>
</article>