
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
            <li><%= link_to @proceso, :class => "tituloProceso" do  %> 
                  <%= @proceso.tipo_proceso.tipo %> : <%= @proceso.titulo %>
                <% end %>
            </li>
            <li class="">Ultimas actualizaciones</li>
          </ul>
        </header>
        
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <div class="sheet_body fondoGris" style="margin-top: 20px;">

            <section class="topics" data-collection-name="topics">
               
               <h1 class="tituloLog" >Ultimas actualizaciones del proceso</h1>

                <hr>

                  <% @logs.each do |log| %>
                    <div class="row registros">
                      <div class="alinearbotones">
                        <%= fechalog log.created_at %>
                      </div>
                      <div class="general foundicon-address-book imagenLogo alinearbotones"></div> 
                      <div class="alinearbotones">
                        <%= log.mensaje %>
                      </div>
                      <div class="hora alinearDerecha">
                        <%= horalog log.created_at %>
                      </div>
                    </div>
                  <% end %>      
                  
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>



