<body>
    <div id="workspace" class="workspace">
        <div class="container flat_container"  style="opacity: 1;">
        <div class="panel panelTransparente home_tab project_index  " >

            <title>Procesos</title>

            <nav class="projects_nav ">
                <%= link_to '', new_proceso_path %>
            </nav>
            <div class="project_templates nuevoProceso">
                <%= link_to 'Nuevo Proceso', new_proceso_path %>
                <hr>
               
                <%= link_to  "javascript:mostrarPanelBuscarProceso()", :id => "mostrarCamposOpcionales" do %>
                     <div class="foundicon-search"></div> Buscar Proceso
                <% end %> 
                <hr>
                <%= link_to  :controller => :procesos, :action => :favoritos , :estado  => 1, :remote => true do%>
                 <div class="foundicon-star alinearbotones" style="display:block; margin-right: -11px !important;"></div> Procesos Favoritos
                <% end %> 
                <%= link_to 'Todos los Procesos', :controller => :procesos, :action => :favoritos , :estado  => 0 , :remote => true %>
            </div>

            <div class="project_templates">
                <hr>
                <%= link_to "Alertas Pendientes ("+@NumeroAlertasPendientes.to_s+")", :alertasPendientes %>
                <%= link_to "Actividad Pendientes ("+@NumeroActividadesPendientes.to_s+")", :actividadesPendientes %>
            </div>


            <% if (notice) %>
                <div data-alert class="alert-box success radius" style="text-shadow: initial;"><%= notice %></div>
            <% end%>


            <div id="all_projects">
                <section id="sectionProcesos" class="projects cards">
                    <div id="panelBuscarProceso" class="row panel ocultar" style="height: 83px !important;">
                        
                        <%= form_for @proceso, :remote => true , :url => url_for(:controller => 'procesos', :action => 'buscarProceso'),  :html => { :class => "custom", :id => "formBuscarProceso"}  do |f| %>
                            
                            <div class="small-3 large-3 columns " style="margin-top: 8px;">
                                <span data-tooltip class="tip-top" title="Buscar por la referencia del proceso">
                                <%= f.text_field :referencia , :placeholder => "Referencia" %>
                            </div> 
                          
                            <div class="small-4 large-4 columns " style="margin-top: 8px;">
                                <span data-tooltip class="tip-top" title="Buscar por título ">
                                <%= f.text_field :titulo , :placeholder => "Titulo del proceso" %>
                            </div>
                            
                            <div class="small-3 large-3 columns " style="margin-top: 8px;">
                                <span data-tooltip class="tip-top" title="Filtrar por tipo de proceso">
                               <%= f.select :tipo_proceso_id, [["Todos los Procesos", 0]] + @tipos_procesos.map {|r| [r.tipo,r.id]}, { :disabled => [] } , :id => "listaTiposProceso" %>
                            </div>
                           
                            <div class="small-2 large-2 columns ">
                              <%= f.submit :'Buscar' , :class => " button success radius " %>
                            </div>
                        <% end %> 
                         <%= link_to  "javascript:cerrarPanelBuscarProceso()", :class => "ubicacionCerrarPanel" do%>
                               <p style="font-size: 12px !important;">
                          selecciona y llena una o varios campos par realizar la busqueda avanzada</p> <img src="/img/xmen.png" title="cerrar">
                          <% end %> 
                        
                    </div>

                    <div id="listaProcesos" class="row">
                        <%= render @procesos %> 
                        <article class="card blank " data-behavior="bounce_nav">&nbsp;</article>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</body>