
<body>

    <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">

        <header>
          <div class="header_links">
            <a id="procesofavorito" class="pointer" onClick="cambioEstadoFavoritoHome(<%= @proceso.id %>)" >
               <% if (@proceso.favorito) %>
                <i id="ProcesoNoFavorito<%= @proceso.id %>" class="foundicon-star" style="display:none"></i>
                <div id="ProcesoFavorito<%= @proceso.id %>" class="favoritoSeleccionado" style="display:block"></div>
               <% else %>
                <i id="ProcesoNoFavorito<%= @proceso.id %>" class="foundicon-star" style="display:block"></i>
                <div id="ProcesoFavorito<%= @proceso.id %>" class="favoritoSeleccionado" style="display:none"></div>
                <% end %>
            </a>

            <a href="#" data-reveal-id="myModalCompartirProceso">
              <span class="link">Compartir</span><br>
              <span class="detail">
                <span id="cantidadUsuarios"><%= @proceso.usuarios.size %></span> abogado  en este proceso
              </span>
            </a>

            <%=  link_to "",{:controller => "procesos", :action => "eventos", :proceso_id => @proceso.id} , :class => "link"  do %>
              <span class="link">Ultimos movimientos</span><br>
              <span class="detail">cambios recientes</span>
            <% end %>
            

            

             <%= link_to edit_proceso_path(@proceso) do %>
              <span class="link">Editar</span>
             <% end %>

            <%= link_to procesos_path do %>
              <span class="link">Regresar</span>
             <% end %>

          </div>
          <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="position_reference">
                <h1 class="field" >
                  <%= @proceso.titulo %>
                </h1>

                <div class="star"  title="Starring a project will highlight it on the projects index page">

                </div>

              </div>

              <div class="description field" style="width: auto; border-color: transparent;">
               <span class="bold"> <%= @proceso.tipo_proceso.tipo %>:</span> <%= @proceso.objetivo %>, <%= @proceso.ciudad %>
              </div>
              <div class="row">
                <div class="small-9 large-9 columns left" style="margin-left: -20px;">
                      <h6 class="label">#REF-<%= @proceso.id %></h6>
                    </div>
                    <div class="small-9 large-1 columns left" style="margin-top: 4px;">
                      <h6 class="label">Estado: </h6>
                    </div>
                    <div class="small-9 large-2 columns left">
                      <%= form_for @proceso,  :html => { :class => "custom",:id => "formProcesoEstado"}  do |f| %>
                        <%= f.select :estado_proceso_id, [["Estado Actual", 0]] + @estadosProcesos.map {|r| [r.estado,r.id]}, { :disabled => ["Estado Actual", 0] } , :id => "listaEstadoProceso", :onchange => "cambioEstadoProceso("+@proceso.id.to_s+")"  %>

                      <% end %>


                    </div>
              </div>




            </div>
          </div>


          <% if notice %>
                    <div data-alert class="alert-box success radius">
                      <%= notice %>
                      <a href="#" class="close">&times;</a>
                    </div>
          <% end %>

          <div id="project_toolbar_2942270" class="project_toolbar" >
            <div class="tools has_tools_not_in_project">

              <div class="group not_in_project">
                <span class="label">Agregar : </span>


                 <%= link_to   "("+@participantes.size.to_s+") Participantes", {:controller => "participantes", :action => "index", :proceso_id => @proceso.id}, :method=>:post %>

                 <%= link_to   "("+@contratos.size.to_s+") Contratos", {:controller => "contratos", :action => "index", :proceso_id => @proceso.id}, :method=>:post %>


                <%= link_to   "("+@actividads.size.to_s+") Actividades", {:controller => "actividads", :action => "index", :proceso_id => @proceso.id}, :method=>:post %>

                <%= link_to   "("+@alertas.size.to_s+") Alertas", {:controller => "alertas", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>

                <%= link_to   "("+@documentos.size.to_s+") Documentos", {:controller => "documents", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>


                <%= link_to   "("+@estados.size.to_s+") Conclusiones", {:controller => "estados", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>

              </div>
            </div>
          </div>
        </header>
        <div class="sheet_body">
          <section class="events">
            <header>
              <h1><a href="#">Ultimas actualizaciones del proceso</a></h1>
            </header>

            <section id="events_project_2942270" class="project_events grouped_by_date" >
              <div class="event_container" style="">
                <article class="event chiral"  datetime="2013-05-26T16:42:56Z" >

                  <% @logs.each do |log| %>
                    <div class="time">
                      <span class="time_only">
                        <%= fechaFormatoActualizado log.created_at %>
                      </span>
                    </div>

                    <div class="action">
                      <span class="in_project">
                        <%= log.mensaje %>
                      </span>
                    </div>
                  <% end %>
                  
                </article>
              </div>
            </section>

            <p class="more_events">
              
               <%=  link_to " Ver todas las actualizaciones ", {:controller => "procesos", :action => "eventos", :proceso_id => @proceso.id}, :class => "decorated"   %>
            </p>
          </section>
          <hr/>

          <section id="panelParticipante" class="documents " style="">
            <header class="has_buttons">
              <h1> <%= link_to "1. Participantes", {:controller => "participantes", :action => "index", :proceso_id => @proceso.id},:class => "alinearbotones"  %>
                      
              </h1>
                <div>
                  <%= button_to "Crear Participante", {:controller => "participantes", :action => "index", :proceso_id => @proceso.id, :nuevoItem => true},:class => "tiny button  radius alinearbotones"  %>
                  
                </div>
                <div>
                  <%= button_to "ver Todos", {:controller => "participantes", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius " %>
                </div>

            </header>

            <section class="documents grouped_by_date">
              <article class="document"  >
                <div>
                  <div>

                    <% @participantes.each do |participante| %>
                    <div class="row">

                      <div class="small-12 columns ">
                         <h5>
                        
                             <%=  link_to participante.rol_participante.rol+" - "+participante.nombre+" "+participante.apellido, {:controller => "participantes", :action => "edit", :proceso_id => @proceso.id,:id => participante.id, :nuevoItem => true}, :class => "descripcionLog"   %>
                        
                          </h5> 
                      </div>
                      <div class="small-12 columns">
                        <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado participante.updated_at %></span>
                        </p>
                      </div>
                    </div>




                  <% end %>

                  </div>
                </div>
              </article>
            </section>
          </section>
          <hr/>
          <section class="documents " style="">
            <header class="has_buttons">
              <h1><%= link_to contratos_path(:proceso_id => @proceso.id) ,:class => "alinearbotones" do  %>
                      2. Contratos
                    <% end %></h1>

                <div>
                  <%= button_to "Crear Contrato", {:controller => "contratos", :action => "index", :proceso_id => @proceso.id, :nuevoItem => true},:class => "tiny button  radius alinearbotones" %>
                  
                  <%= button_to "ver Todos", {:controller => "contratos", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius" %>
                </div>

            </header>

            <section class="documents grouped_by_date">
              <article class="document" >

                    <% @contratos.each do |contrato| %>
                    <div class="row">
                      <div class="small-12 columns ">
                         <h5>
                             <%=  link_to contrato.tipoContrato, {:controller => "contratos", :action => "index", :proceso_id => @proceso.id,:contrato_id => contrato.id, :nuevoItem => true}, :class => "descripcionLog"   %>
                          </h5> 
                      </div>
                      <div class="small-12 columns">
                        <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado contrato.updated_at %></span>
                        </p>
                      </div>
                    </div>
                  <% end %>

              </article>
            </section>
          </section>
          <hr/>

          <section class="documents " style="">
            <header class="has_buttons">
              <h1> <%= link_to actividads_path(:proceso_id => @proceso.id),:class => "alinearbotones" do  %>
                      3. Actividades
                    <% end %></h1>
                <div>
                  <%= button_to "Crear Actividad", {:controller => "actividads", :action => "index", :proceso_id => @proceso.id, :nuevoItem => true},:class => "tiny button  radius alinearbotones" %>
                  
                  <%= button_to "Ver Todos", {:controller => "actividads", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius" %>

                </div>

            </header>

            <section class="documents grouped_by_date">
              <article class="document" >

                     <% @actividads.each do |actividad| %>
                      <div class="row">
                        <div class="small-12 columns ">
                           <h5>
                             
                            <%=  link_to actividad.nombre+' - '+actividad.estado_actividad.estado, {:controller => "actividads", :action => "index", :proceso_id => @proceso.id,:actividad_id => actividad.id, :nuevoItem => true}, :class => "descripcionLog"   %>

                            </h5>
                        </div>
                        <div class="small-12 columns">
                          <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado actividad.updated_at %></span>
                           </p>
                        </div>
                      </div>
                   <% end %>

              </article>
            </section>
          </section>
          <hr/>
          
         <section class="documents " style="">
            <header class="has_buttons">
              <h1> 
                 <%= link_to   "4. Alertas", {:controller => "alertas", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>
                </h1>
                <div>
                  <%= button_to "Crear Alerta", {:controller => "alertas", :action => "new", :proceso_id => @proceso.id},:class => "tiny button radius alinearbotones" %>
                  
                  <%= button_to "Ver Todos", {:controller => "alertas", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius" %>

                </div>

            </header>

             <section class="documents grouped_by_date">
              <article class="document" >

                     <% @alertas.each do |alerta| %>
                      <div class="row">
                        <div class="small-12 columns ">
                           <h5>
                             
                            <%= link_to edit_alerta_path(:proceso_id => @proceso.id,:alerta_id => alerta.id), :class => "descripcionLog"  do %>
                                 <%= alerta.titulo %>  
                            <% end %>
                            </h5>
                        </div>
                        <div class="small-12 columns">
                          <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado alerta.updated_at %></span>
                           </p>
                        </div>
                      </div>
                   <% end %>
              </article>
            </section>


          </section>
<hr/>
          
 <section id="panelDocumentos" class="documents " style="">
            <header class="has_buttons">
              <h1> 
                    <%= link_to   "5. Documentos", {:controller => "documents", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>

                  </h1>
                <div>
                  <%= button_to "Crear Documento", {:controller => "documents", :action => "new", :proceso_id => @proceso.id},:class => "tiny button radius alinearbotones" %>
                  
                  <%= button_to "Ver Todos", {:controller => "documents", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius" %>

                </div>

            </header>

            <section class="documents grouped_by_date">
              <article class="document" >

                     <% @documentos.each do |documento| %>
                      <div class="row">
                        <div class="small-12 columns ">
                           <h5>
                             
                            <%= link_to edit_document_path(:proceso_id => @proceso.id,:documento_id => documento.id), :class => "descripcionLog"  do %>
                                 <%= documento.name %>  
                            <% end %>
                            </h5>
                        </div>
                        <div class="small-12 columns">
                          <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado documento.updated_at %></span>
                           </p>
                        </div>
                      </div>
                   <% end %>
              </article>
            </section>


           
          </section>
          <hr/>
          
          <section class="documents " style="">
            <header class="has_buttons">
              <h1> 
                 <%= link_to   "6. Conclusiones del Proceso", {:controller => "estados", :action => "index", :proceso_id => @proceso.id}, :method=>:get %>

              </h1>
                <div>
                  <%= button_to "Crear Conclusion", {:controller => "estados", :action => "new", :proceso_id => @proceso.id},:class => "tiny button radius alinearbotones" %>
                  
                  <%= button_to "Ver Todos", {:controller => "estados", :action => "index", :proceso_id => @proceso.id},:class => "tiny button secondary radius" %>

                </div>

            </header>

           <section class="documents grouped_by_date">
              <article class="document" >

                     <% @estados.each do |estado| %>
                      <div class="row">
                        <div class="small-12 columns ">
                           <h5>
                             
                            <%= link_to edit_estado_path(:proceso_id => @proceso.id,:estado_id => estado.id), :class => "descripcionLog"  do %>
                                 <%= estado.conclusion %>  
                            <% end %>
                            </h5>
                        </div>
                        <div class="small-12 columns">
                          <p class="detalles">
                          Actualizado <span class="time"><%= fechaFormatoActualizado estado.updated_at %></span>
                           </p>
                        </div>
                      </div>
                   <% end %>
              </article>
            </section>

          </section>
          
         


        </div>
      </div>
    </div>
  </div>

</body>

<!-- Mostrar ayuda para cuando inica el proceso por primera vez -->

<ol id="joyrideProceso" class="joyride-list" data-options="nextButton : true,tipAnimation :    'fade',tipAnimationFadeSpeed: 300" data-joyride>
  <li data-id="listaEstadoProceso" data-text="Salir">
    <p>Inicia Creando un nuevo Participante</p>
  </li>
</ol>

  <div id="myModalCompartirProceso" class="reveal-modal small">
    <%= render 'formControlAcceso' %>
  </div>
