<div class="alert-panel" data-alert>
      <div id="headerlogin" class="alert-panel-title">
        Ingrese a su cuenta
        <a href="#" class="alert-panel close-reveal-modal" onclick="$('#modalLogin').foundation ('reveal', 'close')">&times;</a>
      </div>

      <%= form_tag usuario_sessions_path, :html => { :class => "custom",:id => "formlogin"} , method: :post do %>
      <div class="alert-panel-message" >

        <div class="row">
				
			  <div class="small-3 small-offset-0 columns field "> 
			  	<%= label_tag :usuario ,nil, :class => "tituloCampo error right "  %>
				</div>
			  <div class="small-9  columns field">
			  	<%= text_field :username,value = nil, :placeholder => "Usuario",:class=> "input-xlarge"  %> 
			  </div>
			  
			  <div class="small-3 small-offset-0 columns field"> 
			  	<%= label_tag :Contraseña ,nil, :class => "tituloCampo error "  %>
			  </div>
			  <div class="small-9  columns field">
			  	<%= password_field_tag :password,value = nil, :placeholder => "Contraseña",:class=> "input-xlarge" %>  
			  </div>
			  
		  </div>
	   </div>
      <div class="alert-panel-action">
        	
        		 <a href="#" class="small  radius secondary textolinks" onclick="$('#modalreset').foundation ('reveal', 'open')">Olvido su contraseña?</a>
		    	 <a href="#" class="small button radius secondary" onclick="$('#modalLogin').foundation ('reveal', 'close')">Cerrar</a>
		        <%= submit_tag :'Log In', :class => " button radius small" %>
      </div>
      <% end %>
       
</div>


