<%= form_for(@usuario) do |f| %>


  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
      <div class="small-12 columns">
          <div class="small-6 small-centered columns field">
            <%= f.label :nombre_usuario %><br />
            <%= f.text_field :username, :placeholder => "Nombre de Usuario",:class=> "input-xlarge"   %>
          </div>
          <div class="small-6 small-offset-1 small-centered columns field">
            <%= f.label :email %><br />
            <%= email_field_tag :email,value = nil, :placeholder => "email",:class=> "input-xlarge"  %> 
          </div>
          <div class="small-6 small-centered columns field">
            <%= f.label :password %><br />
            <%= password_field_tag :password,value = nil, :placeholder => "password",:class=> "input-xlarge" %>  
          </div>
          <div class="small-6 small-offset-1 small-centered columns field">
            <%= f.label :confirmar_password %><br />
            <%= password_field_tag :password_confirmation,value = nil, :placeholder => "Repetir contraseña",:class=> "input-xlarge" %>  
          </div>
          <div class="small-1 small-offset-7 columns ">
            <%= f.submit :'Crear Usuario' , :class => " button success radius" %>
          </div>
      </div>
  </div>
<% end %>
