<%= form_for @usuario, :remote => true, :html => { :class => "custom formDespacho",:id => "formUsuario"} do |f| %>


<div class="row">

    
    <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
      <%= f.text_field :empresa ,:placeholder => "Empresa",:class=> "input-xlarge" %>
    </div>

    
    <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
      <%= f.text_field :username,:placeholder => "Nombre de Usuario",:class=> "input-xlarge" %>
    </div>

   
    <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
           <%= f.text_field :email,  :placeholder => "email" %> 
    </div>
    
    
    <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
       <%= f.text_field :password, :placeholder => "password",:class=> "input-xlarge" %>  
    </div>
     
    <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
        <%= f.text_field :password_confirmation, :placeholder => "Confirmar contraseña",:class=> "input-xlarge" %>  
    </div>

</div>


<div class="row"> 

     <div class="large-4 large-offset-7 small-2 small-offset-10 columns field5">
      <%= f.submit :'Inicia tu prueba gratuita de 30 dias' , :class => "button success radius large" %></div>
     </div>
     
</div>

<% end %>

