<%= form_for(@usuario) do |f| %>


  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
      <div class="small-12 columns">

          <div class="small-1 small-offset-3 columns "><%= f.label :nombre_usuario, :class => "tituloCampo" %></div>
          <div class="small-5 columns field">
            <%= f.text_field :username,:placeholder => "Nombre de Usuario",:class=> "input-xlarge" %>
          </div>
          <div class="small-3 columns"></div>

          <div class="small-1 small-offset-3 columns "><%= f.label :email_, :class => "tituloCampo" %></div>
          <div class="small-5 columns field">
            <%= f.text_field :email,  :placeholder => "email" %> 
          </div>
          <div class="small-3 columns"></div>

          <div class="small-1 small-offset-3 columns "><%= f.label :password_, :class => "tituloCampo" %></div>
          <div class="small-5 columns field">
            <%= f.text_field :password, :placeholder => "password",:class=> "input-xlarge" %>  
          </div>
          <div class="small-3 columns"></div>

          <div class="small-1 small-offset-3 columns "><%= f.label :confirmar_password, :class => "tituloCampo" %></div>
          <div class="small-5 columns field">
          <%= f.text_field :password_confirmation, :placeholder => "Confirmar contraseña",:class=> "input-xlarge" %>  
          </div>
          <div class="small-3 columns"></div>

          <div class="small-1 small-offset-7 columns ">
            <%= f.submit :'Crear Usuario' , :class => " button success radius" %>
          </div>
          <div class="small-3 columns"></div>
      </div>
  </div>
<% end %>

