<%= form_for(@usuario) do |f| %>


<div class="row">

    <div class="small-2 small-offset-0 columns ">
      <%= f.label :nombre_usuario, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :username,:placeholder => "Nombre de Usuario",:class=> "input-xlarge" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label :email_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
           <%= f.text_field :email,  :placeholder => "email" %> 
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label :password_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
       <%= f.text_field :password, :placeholder => "password",:class=> "input-xlarge" %>  
    </div>
     <div class="small-2 small-offset-0 columns ">
      <%= f.label :password_confirmation, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
        <%= f.text_field :password_confirmation, :placeholder => "Confirmar contraseña",:class=> "input-xlarge" %>  
    </div>

</div>


<div class="row"> 

  <% if @usuario.errors.any? %>
      <div class="small-4 columns field"></div>
      <div class="small-4 small-offset-3 columns field">
        <h2><%= pluralize(@usuario.errors.count, "errore") %> encontrados</h2>
      </div>
      <div class="small-5 columns field">
        <%= f.submit :'Crear Usuario' , :class => " button success radius" %></div>
     </div>
  <% else %>      
      <div class="small-1 small-offset-8 columns field"></div>
      <div class="small-2 columns field">
        <%= f.submit :'Crear Usuario' , :class => " button success radius" %></div>
     </div>
  <% end %>
 
 
</div>

<% end %>

