<div class="alert-panel" data-alert>
      <div class="alert-panel-title">
        Crear cuenta
        <a href="#" class="alert-panel close-reveal-modal" onclick="$('#modalsignup').foundation ('reveal', 'close')">&times;</a>
      </div>

     <%= form_for @usuario, :remote => true, :html => { :class => "custom",:id => "formUsuario"} do |f| %>
      <div class="alert-panel-message" >

       <div class="row">

            <div class="small-8 small-offset-2 columns"> 
              <%= label_tag :empresa ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-8 small-offset-2 columns">
               <%= f.text_field :empresa ,:placeholder => "Empresa",:class=> "input-xlarge" %>
            </div>

            <div class="small-8 small-offset-2 columns"> 
              <%= label_tag "Usuario" ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-8 small-offset-2 columns">
                 <%= f.text_field :username,:placeholder => "Nombre de Usuario",:class=> "input-xlarge" %>
            </div>

            <div class="small-8 small-offset-2 columns"> 
              <%= label_tag "Correo" ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-8 small-offset-2 columns">
                 <%= f.text_field :email,:placeholder => "Correo electrónico",:class=> "input-xlarge" %>
            </div>

            <div class="small-8 small-offset-2 columns"> 
              <%= label_tag "password" ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-8 small-offset-2 columns">
                 <%= f.text_field :password,:placeholder => "password",:class=> "input-xlarge" %>
            </div>

            <div class="small-8 small-offset-2 columns"> 
              <%= label_tag "confirmar password" ,nil, :class => "tituloCampo error "  %>
            </div>
            <div class="small-8 small-offset-2 columns">
                 <%= f.text_field :password_confirmation,:placeholder => "Confirmar password",:class=> "input-xlarge" %>
            </div>


        </div>
    </div>
      <div class="alert-panel-action">
             <a href="#" class="textolinks" onclick="$('#modalLogin').foundation ('reveal', 'close')">Cerrar</a>
              <%= f.submit :'Inicia tu prueba gratuita de 30 dias' , :class => "button  radius" %></div>
      </div>
      <% end %>
       
</div>
