
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
              <li><%= link_to 'Inicio', procesos_path %></li>
              <li><a href="#">Despacho - Eas Ltda</a></li>
              <li><%= link_to 'Partcipantes', "javascript:listarUsuarios()" %></li>
          </ul>
        </header>
        
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                  
                    <div class="small-6 small-9 columns left">
                      <h1 id="tituloUsuario">
                        Usuarios del Despacho
                      </h1>
                    </div>
                    
                    <div class="small-3 small-3 columns left">
                      
                         <%= button_to 'Nuevo Usuario', {:controller => "usuarios", :action => "new"},  :remote => true, :class => "button radius ", :id => "new_usuario_link" %>

                          <%= button_to 'Listar Usuarios',"javascript:listarUsuarios()" , :class => "button radius ocultar", :id => "listar_usuarios_link" %>
                    </div>
                    
                     <% if notice %>
                              <div data-alert class="alert-box success radius">
                                <%= notice %>
                                <a href="#" class="close">&times;</a>
                              </div>
                    <% end %>
                      
                   
                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>
          
          <div class="sheet_body fondoGris">
            <section class="topics" data-collection-name="topics">
                
              <table id="usuarios"class="inbox" data-behavior="infinite_page file_drop_target" data-infinite-page="3">
                <tbody id="usuarios">
                    <%= render @usuarios %>
                </tbody>
              </table>

               <div id="formularioUsuarios"></div>
              
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

