
<%= form_for(@contrato, :remote => true, :html => { :class => "custom",:id => "formContrato"} ) do |f| %>

<div class="row">

    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Tipo Contrato", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.select :tipoContrato, [["Tipo Contrato", 0]]+[["Indefinido", "Indefinido"]]+[["Prestación de Servicios", "Servicios"]] , { :disabled => ["Tipo Contrato", 0] } %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label :objeto_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_area :objeto, :placeholder => "Objeto del contrato" %>
    </div>
    
    <div class="small-2 small-offset-0 columns ">
      <%= f.label "Contratante", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.select :particpante1, [["Contratante", 0]] + @proceso.participantes.map {|r| [r.nombre,r.id]}, { :disabled => ["Contratista", 0] } %>
    </div>
     <div class="small-2 small-offset-0 columns ">
      <%= f.label "Contratista", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.select :participante2, [["Contratista", 0]] + @proceso.participantes.map {|r| [r.nombre,r.id]}, { :disabled => ["Contratista", 0] } %>
    </div>

    <div class="small-2 small-offset-0 columns ">
      <%= f.label :valor_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_field :valor, :placeholder => "Valor del Contrato" %>
    </div>
     <div class="small-2 small-offset-0 columns ">
      <%= f.label "Forma Pago", :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-4 columns field">
      <%= f.text_area :formaPago, :placeholder => "Forma de Pago" %>
    </div>

</div>

<hr>
 <%= link_to 'Mostrar Campos Opcionales', "javascript:eventoCamposOpcionalesContrato()", :class=>"textolinks", :id => "mostrarCamposOpcionales" %>
<hr>

<div id="camposOpcionalesContrato" class="row ocultar">
    
      <section>
       
          <div class="small-2 small-offset-0 columns ">
            <%= f.label "Obligaciones", :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-10 columns field">
            <%= f.text_area :obligaciones, :placeholder => "Obligaciones" %>
          </div>
          
            <div class="small-2 small-offset-0 columns">
            <%= f.label :deberes_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-10 columns field ">
            <%= f.text_area :deberes, :placeholder => "Deberes " %>
          </div>

          <div class="small-2 small-offset-0 columns ">
            <%= f.label "Fecha Inicio", :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-4 columns field">
            <%= f.text_field :fechaInicio , :placeholder => "Fecha de Inicio" %>
          </div>
          
            <div class="small-2 small-offset-0 columns">
            <%= f.label "Fecha Fin", :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-4 columns field ">
            <%= f.text_field :fechaFin , :placeholder => "Fecha fin" %>
          </div>
      </section>
   
</div>
<div class="row"> 

   <div class="small-1 small-offset-7 columns field"></div>
     <div class="small-1 columns field">
      <%= link_to 'Cancelar', "javascript:listarContratos()", :class=>"textoGrislinks" %>
     </div>
     <div class="small-2 columns field">
      <%= f.submit :'Guardar Contrato' , :class => " button success radius", :id =>"botonSubmitContrato" %></div>
     </div>
     <%= hidden_field_tag :proceso_id, @proceso.id %>

</div>
<% end %>

<script>
  $(document).foundation();
  jQuery('#contrato_fechaInicio').datepicker({dateFormat: "dd MM yy"});
  jQuery('#contrato_fechaFin').datepicker({dateFormat: "dd MM yy"});
</script>