
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
             <li><%= link_to @proceso, :class => "tituloProceso" do  %> 
                  <%= @proceso.tipo_proceso.tipo %> : <%= @proceso.titulo %>
                <% end %>
            </li>
            <li class="">Contratos</li>
          </ul>
        </header>
        
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                  
                    <div class="small-6 small-9 columns left">
                      <h1 id="tituloContrato">
                        <% if  @contratosRender == "true" %>
                          Contrato
                          <% else %>
                          Contratos
                          <% end %>
                      </h1>
                    </div>
                    
                    <div class="small-3 small-3 columns left">
                        
                        <% if  @contratosRender == "true" %>

                        <%= button_to 'Nuevo Contrato', {:controller => "contratos", :action => "new", :id => @proceso.id},  :remote => true, :class => "button radius ocultar", :id => "new_contrato_link" %>

                        <%= button_to 'Listar Contratos',"javascript:listarContratos()" , :class => "button radius ", :id => "listar_contratos_link" %>
                        <% else %>

                        <%= button_to 'Nuevo Contrato', {:controller => "contratos", :action => "new", :id => @proceso.id},  :remote => true, :class => "button radius ", :id => "new_contrato_link" %>

                        <%= button_to 'Listar Contratos',"javascript:listarContratos()" , :class => "button radius ocultar", :id => "listar_contratos_link" %>

                        <% end %>


                        

                    </div>
                  
                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>

          
          
          <div class="sheet_body fondoGris">
            <section class="topics" data-collection-name="topics">
                
              <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>
                
                <% if @contrato.activo == false %>
                  <div id="noticeMsgEliminar" data-alert class="alert-box alert radius" style="text">Si desea restablecer el contrato, use el boton guardar contrato.</div> 
                <% end %>

              <div id="formularioContratos"></div>

              <% if  @contratosRender == "true" %>
                    
                 <table class="inbox" data-behavior="infinite_page file_drop_target" data-infinite-page="3">
                  <tbody id="contratos" class="ocultar">
                      <%= render @contratos %>  
                  </tbody>
                </table>
                  <%= render ('form') %>
                  <script type="text/javascript"> $("#formContrato").removeClass( "ocultar" ); </script>

              <% else %>

                <table class="inbox" data-behavior="infinite_page file_drop_target" data-infinite-page="3">
                  <tbody id="contratos" >
                      <%= render @contratos %>  
                  </tbody>
                </table>
                
              <% end %>
          

              

            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Mostrar este mensaje si la lista de participantes esta vacia -->
<% if @contratos.size == 0 %>
<ol id="joyrideContrato" class="joyride-list" data-options="nextButton : true,tipAnimation :    'fade',tipAnimationFadeSpeed: 300" data-joyride>
  <li data-id="new_contrato_link" data-text="Salir">
    <p>Inicia creando un nuevo contrato</p>
  </li>
</ol>
<% end %>

</body>