<%= form_for @participante, :remote => true, :html => { :class => "ocultar custom ",:id => "formParticipante"}  do |f| %>
<div class="row">

    <div class="small-2 large-2 small-offset-0 columns ">
      <%= f.label :nombre_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-12 large-4 columns field">
      <%= f.text_field :nombre, :placeholder => "Nombre" %>
    </div>
    
    <div class="small-2 large-2 small-offset-0 columns ">
      <%= f.label :apellido_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-12 large-4 columns field">
      <%= f.text_field :apellido, :placeholder => "Apellido" %>
    </div>
    
    <div class="small-2 large-2 small-offset-0 columns ">
      <%= f.label :correo_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-12 large-4 columns field">
      <%= f.text_field :correo, :placeholder => "Correo electronico" %>
    </div>

    <div class="small-2 large-2 small-offset-0 columns ">
      <%= f.label :celular_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-12  large-4 columns field">
      <%= f.text_field :celular, :placeholder => "Número de Celular" %>
    </div>  
</div>
<div class="row">
    <div class="small-2 large-2 small-offset-0 columns ">
      <%= f.label :rol_, :class => "tituloCampo error alinearDerecha" %>
    </div>
    <div class="small-12 large-4 columns field">
         <span data-tooltip class="tip-top hide-for-touch" title="Rol del participante dentro del proceso.">
           <%= f.select :rol_participante_id, ["- Rol Participante -"]+@rol_participantes.map {|r| [r.rol,r.id]}, disabled: "- Rol Participante -"  %>
          </span>
    </div>

    <div class="small-2 large-2 small-offset-0 columns ">
      
    </div>
    <div class="small-12 large-4 columns field">
        <%= f.check_box :rolPrincipal, :class => "error" %>
        <span data-tooltip class="tip-top hide-for-touch" title="Persona la cual contrata los servicios del abogado.">
             <%= label_tag 'Es el cliente principal?' ,nil, :class => "tituloCampo alinearbotonesderecha error"  %>
         </span>
    </div>
 
</div>

<hr>
 <%= link_to 'Mostrar Campos Opcionales', "javascript:eventoCamposOpcionalesParticipante()", :class=>"textolinks", :id => "mostrarCamposOpcionales" %>
<hr>

<div id="camposOpcionalesParticipante" class="ocultar">
     
       <div class="row"> 

          <div class="small-4 large-2 small-offset-0 columns ">
            <%= f.label "Tipo Documento", :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
             <%= f.select :tipoDocumento, ["- Tipo Documento -"]+[["Cedula", "Cedula"],["Nit", "Nit"],["Tarjeta Extranjeria", "Tarjeta Extranjeria"],["Pasaporte", "Pasaporte"]], :disabled => "- Tipo Documento -"  %>
          </div>
          
            <div class="small-3 large-2 small-offset-0 columns">
            <%= f.label :documento_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field ">
            <%= f.text_field :documento, :placeholder => "Número de Documento" %>
          </div>
      
      </div>
      <div class="row"> 
          <div class="small-3 large-2 small-offset-0 columns ">
            <%= f.label :estadoCivil_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">

            <%= f.select :estadoCivil, ["- Estado Civil -"]+[["Soltero", "Soltero"],["Casado", "Casado"],["Union Libre", "Union Libre"],["Separado", "Separado"],["No tiene", "No tiene"]], :disabled => "- Estado Civil -" %>

          </div>
          
          <div class="small-3 large-2 small-offset-0 columns ">
            <%= f.label :genero_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
            <%= f.select :genero, ["- Genero -"]+[["Masculino", "Masculino"]]+[["Femenino", "Femenino"]]+[["Empresa", "Empresa"]], :disabled => "- Genero -" %>
          </div>
          
          <div class="small-3 large-2 small-offset-0 columns ">
            <%= f.label :direccion_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
            <%= f.text_field :direccion, :placeholder => "Dirección" %>
          </div>
          <div class="small-3 large-2 small-offset-0 columns ">
            <%= f.label :telefono_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
            <%= f.text_field :telefono, :placeholder => "Teléfono" %>
          </div>    

          <div class="small-4 large-2 small-offset-0 columns ">
          <%= f.label "Fecha Nacimiento", :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
            <%= f.date_select :fechaNacimiento  , {:ampm => true, :minute_step => 15,start_year: 1915,order: [:day, :month, :year]}, { class: "date start fechasline2" } %>
          </div>
          <div class="small-2 large-2 small-offset-0 columns ">
            <%= f.label :celular_, :class => "tituloCampo error alinearDerecha" %>
          </div>
          <div class="small-12 large-4 columns field">
            <%= f.text_field :celular, :placeholder => "Número de Celular" %>
          </div>  

        </div>
      
</div>

<div class="row"> 

     <div class="small-1 large-offset-6 columns field"></div>
     <div class="small-1 large-1 columns field margenTop25">
      <%= link_to 'Cancelar', "javascript:listarParticipantes()", :class=>"textoGrislinks" %>
     </div>
     <div class="small-6 large-3 columns field margenTop25">
      <%= f.submit :'Guardar Participante' , :class => " button success radius" %></div></div>
     </div>
    
     <%= hidden_field_tag :proceso_id, @proceso.id %>
     <%= hidden_field_tag :displayOpcionales, false , :id => "displayOpcionales" %>

</div>

<% end %>

<script>
  jQuery('#participante_fechaNacimiento').datepicker({dateFormat: "dd MM yy"});
    $("#participante_rol_participante_id").foundation();

</script>
