<tr id="participante_<%= participante.id %>" class="topic message_10997527 fondoGris" >
  <td class="who">
      <%= link_to edit_participante_path(participante), :remote => true do  %>
       <strong>
              <%= participante.rol_participante.rol %> - 
        </strong>
        <%= participante.nombre %>  <%= participante.apellido %> 
      <% end %>

      <%= button_to 'Ver', edit_participante_path(participante, :proceso_id => @proceso.id), :remote => true, :id => "new_product_link",:class => "tiny button secondary radius " %>

    <%= button_to "Eliminar", participante, :class => "tiny button alert radius inlineBlock",  method: :delete, data: { confirm: 'Estas Seguro de eliminar este participante?' } , :remote => true %>

  <td class="when">
    <a href="#"> <%= fechaFormato1 participante.created_at %> </a>
  </td>
</tr>