<% if @participante.errors.count == 0 %>
	document.getElementById("noticeMsg").innerHTML = "Se creo correctamente el participante <%= @participante.nombre %> <%= @participante.apellido %> <a href='#'' class='close'>&times;</a>";
	$("#noticeMsg").toggle( "fade" );
	$("#noticeMsgEliminar").hide();
	$('#formParticipante').remove();
	$("#participantes").toggle( "fade" );
	$('#new_participante_link').show();
	$('#listar_participante_link').hide();
	$('#participante_<%= @participante.id %>').remove()
	$('#participantes').append('<%= j render("participante", :participante => @participante) %>');
	document.getElementById("tituloParticipante").innerHTML = "Participantes";

<% else %>
	$('#formParticipante').remove();
	$('#formularioParticipantes').after('<%= j render("form") %>');
	$('#formParticipante').toggle( "fade" );
	<% if @displaycamposOpcionalesParticipante=="true" %>
		eventoCamposOpcionalesParticipante();
	<% end %>
<% end %>