
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

       <header>
          <ul class="breadcrumbs">
            <li><%= link_to @proceso, :class => "tituloProceso" do  %> 
                  <%= @proceso.tipo_proceso.tipo %> : <%= @proceso.titulo %>
                <% end %>
            </li>
            <li class="">Editar Partcipante</li>
          </ul>
        </header>
        
        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">
                  
                    <div class="small-6 small-9 columns left">
                      <h1 id="tituloParticipante">
                        
                          Participante
                         
                      </h1>
                    </div>
                    
                    <div class="small-3 small-3 columns left">
                        
                       
                        <%= button_to 'Listar Participantes', {:controller => "participantes", :action => "index", :proceso_id => @proceso.id}, :class => "button radius", :id => "listar_participante_link" %>

                    </div>

                   
                         
                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>

          </header>


          <div class="sheet_body fondoGris">

            <section class="topics" data-collection-name="topics">
               
                <div id="noticeMsg" data-alert class="alert-box success radius ocultar"></div>
                      
                <% if @participante.activo == false %>
                  <div id="noticeMsgEliminar" data-alert class="alert-box alert radius" style="text">Si desea restablecer el participante, use el boton guardar participante.</div> 
                <% end %>
                
                
                <div id="formularioParticipantes"></div>

                      <%= render ('form') %>
                      <script type="text/javascript"> $("#formParticipante").removeClass( "ocultar" ); </script>
                  
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>



