<% if @participante.errors.count == 0 %>
document.getElementById("noticeMsg").innerHTML = "Se actualizo correctamente el participante <%= @participante.nombre %> <%= @participante.apellido %> <a href='#'' class='close'>&times;</a>";
	$("#noticeMsg").toggle( "fade" );
	$('#formParticipante').remove();
	$('#new_participante_link').show();
	$('#listar_participante_link').hide();
	$('#participante_<%= @participante.id %>').remove();
	$("#participantes").toggle( "fade" );
	$('#participantes').append('<%= j render("participante", :participante => @participante) %>');
	document.getElementById("tituloParticipante").innerHTML = "Participantes";

<% else %>

	$('#formParticipante').remove();
	$('#formularioParticipantes').after('<%= j render("form") %>');

<% end %>


