
<li class='event ' href="#">
  <h2 class="tituloProyecto"><%= log.proceso.referencia %> <%= log.proceso %> </h2>
  
  <div class="">
      <span class="alinearbotones"><%= horalog log.created_at %></span>
      <div class="general foundicon-address-book imagenLogo alinearbotones" title="<%= log.usuario %>"></div> 
      <div><%= log.mensaje %></div>
  </div>

 
</li>