<li>
    <time class="cbp_tmtime" datetime="<%= log.id %>"><span><%= fechalog log.created_at %></span></time>
    <div class="cbp_tmicon cbp_tmicon-phone"></div>
    <div class="cbp_tmlabel">
        <h2><%= log.usuario %>  <span class="horalog"><%= horalog log.created_at %></span> </h2> 
        <p><%= log.mensaje %></p>
    </div>
</li>