<body>

    <div id="workspace" class="workspace">
    <div class="container stack_container"  style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris">
        
        <div class="sheet_body">
            
            
   <div class="panellog">

          <h1 class="tituloLog" >Esto es lo que sucede en los procesos</h1>
          <hr class="lineaHorizontalAzul">
          <ul class='timeline'>
                 

                 <% @dias.each do |dia| %>
                    <% diavar = dia.created_at %>

                    
                    <li class="year"><%= fechalog dia.created_at %></li>
                    
                    <% nuevoproceso = true %>
                     <% gprocesoid = -1 %>

                      <% @logs.each do |log| %>
                        
                         <% if (gprocesoid == -1) %>
                            <li class='event ' href="#">
                              <%= link_to(log.proceso) do  %>
                                      <h2 class="tituloProyecto">
                                        <%= log.proceso.titulo %> - (<%= log.proceso.referencia %>)
                                      </h2>
                              <% end %>
                                    
                            <% gprocesoid = log.proceso_id %> 
                             <% nuevoproceso = false %>
                         <% end %>

                        
                        <% if (diavar.to_date ===  log.created_at.to_date) %>
                            
                                <% if (gprocesoid ==  log.proceso_id)  %>
                                   <% if (6 !=  log.mensaje_id)  %>
                                    <div class="actividadesLog row">
                                      <div class="small-5">  <span class="alinearbotones hora">
                                        <%= horalog log.created_at %></span>
                                        <img class=" alinearbotones" src="/img/user.png"  title="<%= log.usuario %>">
                                      </div>
                                      <div class="small-12 textoIzq">
                                        <%=log.mensaje%>
                                         <%=  link_to "Ver", {:controller => "logs", :action => "iractividad", :log_id => log.id}, :class => "descripcionLog"   %>
                                      </div>
                                    </div>
                                    <% else %>
                                    <div class="actividadesLog row">
                                       <div class="small-5">  <span class="alinearbotones hora">
                                        <%= horalog log.created_at %></span>
                                        <img class=" alinearbotones" src="/img/user.png"  title="<%= log.usuario %>">
                                      </div>
                                      <div class="small-12 textoIzq">
                                        <img class=" imagenLogo imagendoc" width="15"  src="/img/doc.png" />
                                        <%=log.mensaje%>
                                         <%=  link_to "Ver", {:controller => "logs", :action => "iractividad", :log_id => log.id}, :class => "descripcionLog"   %>
                                         
                                      </div>
                                     
                                    </div>
                                    <% end %>  
                                    <% nuevoproceso = false %> 

                                <% else %>
                                    
                                    </li> 

                                    <li class='event '>
                                    <%= link_to(log.proceso) do  %>
                                           <h2 class="tituloProyecto">
                                             <%= log.proceso.titulo %> - (<%= log.proceso.referencia %>)
                                          </h2>
                                    <% end %>
                              


                                    <% if (6 !=  log.mensaje_id)  %>
                                    <div class=" actividadesLog row">
                                         <div class="small-5">  <span class="alinearbotones hora">
                                          <%= horalog log.created_at %></span>
                                          <img class=" alinearbotones" src="/img/user.png"  title="<%= log.usuario %>">
                                        </div>
                                        <div class="small-12 textoIzq">
                                          <%=log.mensaje%>
                                         <%=  link_to "Ver", {:controller => "logs", :action => "iractividad", :log_id => log.id}, :class => "descripcionLog"   %>
                                         </div>
                                    </div>
                                    <% else %>
                                    <div class="actividadesLog row">
                                       <div class="small-5">  <span class="alinearbotones hora">
                                        <%= horalog log.created_at %></span>
                                        <img class=" alinearbotones" src="/img/user.png"  title="<%= log.usuario %>">
                                      </div>
                                      <div class="small-12 textoIzq">
                                        <img class=" imagenLogo imagendoc" width="15"  src="/img/doc.png" />
                                        <%=log.mensaje%>
                                         <%=  link_to "Ver", {:controller => "logs", :action => "iractividad", :log_id => log.id}, :class => "descripcionLog"   %>
                                      </div>
                                    </div>
                                    <% end %>  
                                    <% gprocesoid = log.proceso_id %>
                                    <% nuevoproceso = true  %> 
                                
                                <% end %>    
                         <% end %>
                    
                    <% end %>
                    

                    


                 <% end %>

                 

                
                
              
          </ul>
   </div>       
          
        </div>
      </div>
    </div>
  </div>
 
</body>


<script type="text/javascript">
    $('#progresotopbar').addClass("active");
  </script>





