<tr id="estado_<%= estado.id %>" class="fondoGris" >
  <td>
     
       <%= link_to edit_estado_path(estado, :proceso_id => @proceso.id, :estado_id => estado.id),:class => "alinearbotones textoGris" do  %>
                              <%= estado.conclusion %>
         <% end %>
</td>
     <td>
        <%= button_to 'Ver', edit_estado_path(estado, :proceso_id => @proceso.id), :id => "new_alert_link",:class => "tiny button radius alinearbotones" %>

     </td> 
     <td>
           <%= link_to "Eliminar", estado_path(estado, :proceso_id => @proceso.id), :class => "textRojolinks inlineBlock alinearbotones eliminarlink",  :method => :delete, :confirm => "Estas Seguro de eliminar esta conclusion?"   %>
   
  </td>
</tr>
