
<body>

  <div id="workspace" class="workspace">
    <div class="container stack_container" style="width: 960px;">
      <div class="panel sheet project active blank_slate fondoGris" >

      
        <header>
              <ul class="breadcrumbs">
                <li><%= link_to @proceso, :class => "tituloProceso" do  %> 
                      <%= @proceso.tipo_proceso.tipo %> : <%= @proceso.titulo %>
                    <% end %>
                </li>
                 <li> <%= link_to   "Conclusiones", {:controller => "estados", :action => "index", :proceso_id => params[:proceso_id]}, :method=>:get %></li>
            
              </ul>
            </header>

        <div class="panel sheet topics fondoGris" style="margin-left: 20px; margin-bottom: -20px;" data-behavior=" prevent_reload_when_stacked">

          <header class="has_buttons">
            <div data-behavior="edit_project_header expandable">
            <div class="collapsed_content">
              <div class="row">
                <div class="small-12 columns">

                    <div class="small-6 small-9 columns left">
                      <h1 id="tituloContrato">
                        Conclusiones
                      </h1>
                    </div>

                    <div class="small-3 small-3 columns left">
                         <%= button_to "Nueva Conclusion", {:controller => "estados", :action => "new", :proceso_id => @proceso.id},:class => " button radius ",:id => "new_estado_link"  %>
                    </div>

                    <% if notice %>
                              <div data-alert class="alert-box success radius">
                                <%= notice %>
                                <a href="#" class="close">&times;</a>
                              </div>
                    <% end %>

                </div>
              </div>
            </div>
          </div><div class="blank_slate_arrow"></div>
          </header>




          <div class="sheet_body fondoGris">
            <div id="date_display_Project:2733915" class="date_display" data-autoview="">
            <section class="calendar_events">

                    <table class="inbox " data-behavior="infinite_page file_drop_target" data-infinite-page="3">
                      <tbody id="conclusiones">
                          
                        <% @estados.each do |estado| %>
                              <%= render 'estado', :estado => estado %>
                        <% end %>
                  
                      </tbody>
                    </table>

               </section>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- Mostrar este mensaje si la lista de documentos esta vacia -->
<% if @estados.size == 0 %>
<ol id="joyrideEstados" class="joyride-list" data-options="nextButton : true,tipAnimation : 'fade',tipAnimationFadeSpeed: 300" data-joyride>
  <li data-id="new_estado_link" data-text="Salir">
    <p>Inicia creando una conclusion</p>
  </li>
</ol>
<script>
     $(document).foundation('joyrideEstados', 'start');
  </script>
<% end %>

</body>

