<div id="topbar">



<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name" style="background:rgb(214, 230, 240) !important">
      <h1 class="logo"> 
        <%= link_to :root  do %>
          <img src="/img/aspen_logo_small.png" style="width: 64px;"/>
        <% end %>
      </h1>
      
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li> <%= link_to 'Funcionalidades', :funcionalidades %></li>
      <li> <%= link_to 'Planes', :precios %></li>
      <li> <%= link_to 'Registrate', new_abogado_registration_path , :class => 'button success radius'%></li>
      <li> <%= link_to 'Iniciar Sesion', new_abogado_session_path , :class => 'button radius'%></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

      <li style="font-size:25px">  <%= link_to 'Gestión de Procesos judiciales', :root %></li>
      
    </ul>
  </section>
</nav>

  
</div>

