<header >
<nav class="">
    
     <!-- Header and Nav -->
  <div class="row">
    <div class="large-5 columns">
      <h5> <%= link_to :login do %> <img src="/img/aspen_logo_small.png"><%end%> 
      <!-- Formulario para nuevo registro -->
      <span class="tituloHome"> Gestión de procesos judiciales</span>
      </h5>
    </div>
    <div| class="large-7 columns">
      <ul class="inline-list right menubotonesHome">
        <li><%= link_to 'funcionalidades', :funcionalidades %></li>
        <li><%= link_to 'precios', :precios %></li>
        <li><%= link_to 'Registrarse', new_abogado_registration_path , :class => 'tiny button success radius'%></li>
        <li><%= link_to 'Iniciar Sesion', new_abogado_session_path , :class => 'tiny button radius'%></li>
      </ul>
    </div>
  </div>
</nav>
  <!-- Header and Nav -->
</header>

