<header >

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name" style="background:rgb(214, 230, 240) !important">
      <h1 class="logo"> 
        <%= link_to  procesos_path  do %>
          <img src="/img/aspen_logo_small.png" style="width: 64px;"/>
        <% end %>
      </h1>
      
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">

      <li class="has-dropdown"><a href="#" ><%= current_abogado.email %></a>
        <ul class="dropdown"><li class="title back js-generated">
          <h5><a href="javascript:void(0)">Regresar</a></h5></li>
          <li><label>CUENTA</label></li>
          <li><%= link_to "Mi Perfil",current_abogado ,:class => "Me"   %></li>
          <li><%=  link_to "Actualizar cuenta", :precios %></li>
          <li class="divider"></li>
          <li><label>SOPORTE</label></li>
          <li><a href="#">Enviar ticket</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Cerrar Sesión →', destroy_abogado_session_path, :method => :delete %></li>

        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

      <li class="has-dropdown"><%= link_to 'Procesos', procesos_path  %>
        <ul class="dropdown"><li class="title back js-generated">
          <h5><a href="javascript:void(0)">Regresar</a></h5></li>
          <li><label>Procesos</label></li>
          <li><%= link_to 'Todos los procesos', procesos_path  %></li>
          <li><%= link_to 'Nuevo Proceso', new_proceso_path%></li>
          <li class="divider"></li>
          <li><label>PENDIENTES</label></li>
          <li><%= link_to "Actividad Pendientes", :actividadesPendientes %></li>
          <li><%= link_to "Alertas Pendientes", :alertasPendientes %></li>
         
        </ul>
      </li>

      <li>  <%= link_to 'Agenda', eventos_path , :class => "topnav_calendar" %></li>
      <li>  <%= link_to 'Reportes', reportes_path , :class => "topnav_calendar" %></li>
      <li>  <%=  link_to "Progreso", :progreso ,:class => "topnav_everyone"   %></li>
      
      
        <li class="has-dropdown"><%=  link_to "Compartir", :compartirProcesos   %>
        <ul class="dropdown"><li class="title back js-generated">
          <h5><a href="javascript:void(0)">Regresar</a></h5></li>
          <li><label>COMPARTIR</label></li>
          <li><%=  link_to "Invitar a un amigo", :compartirProcesos   %></li>
          <li><%=  link_to "Compartir Procesos", :compartirProcesos   %></li>
          </ul>
      </li>

      
    </ul>
  </section>
</nav>



</header>




