<header >
<nav class="">
    
    <div id="panelLogo" class="logo">
        <%= link_to 'Procesos', procesos_path  %>
    </div>

    
    <div class="global_links">
        <%= link_to 'Procesos', procesos_path , :class => "topnav_root" %>
        <%= link_to 'Agenda', events_path , :class => "topnav_calendar" %>
        <%= link_to 'Reportes', reportes_path , :class => "topnav_calendar" %>
        
        <%=  link_to "Progreso", :progreso ,:class => "topnav_everyone"   %>
        <%=  link_to "Mi Perfil",current_user,:class => "topnav_calendar"   %>
        
    </div>

    <div class="current_user">
        <ul>
            <li><a  href="#">Planes y Precios</a></li>
            <li>
             <%= link_to "Perfil: "+current_user.username,current_user,:class => "Me"   %>
            </li>
            <li>
                <%= link_to 'Sign out', :logout %>
            </li>
        </ul>
    </div>

    <div class="jumpto" >
        
        <div class="row collapse">
          <div class="small-12 columns paddginCero">
            <input id="tags" type="text"  />
          </div>
          
          </div>



    </div>



 <script>
  $(function() {
        $( "#tags" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "procesos.json",
              dataType: "json",
              data: {
                featureClass: "P",
                style: "full",
                maxRows: 12,
                name_startsWith: request.term
              },
              success: function( data ) {
                response( $.map( data, function( item ) {
                  return {
                    label: item.titulo,
                    value: item.titulo
                  }
                }));
              }
            });
          }
        });
      
   
    
  });
  </script>
  
</nav>
</header>

