<header >
<nav class="">
    
    <div id="panelLogo" class="logo">
        <%= link_to 'Procesos', procesos_path  %>
    </div>

    
    <div class="global_links">
        <%= link_to 'Procesos', procesos_path , :class => "topnav_root" %>
        <%= link_to 'Agenda', events_path , :class => "topnav_calendar" %>
        <a class="topnav_everything"  href="#">Informes</a>
        <a class="topnav_everyone"  href="#">Todo</a>
        <%=  link_to "Progreso", :progreso ,:class => "topnav_calendar"   %>
        <%=  link_to "Mi Perfil",current_user,:class => "Me"   %>
        
    </div>

    <div class="current_user">
        <ul>
            <li><a  href="#">Planes y Precios</a></li>
            <li>
             <%= link_to "Perfil: "+current_user.username,current_user,:class => "Me"   %>
            </li>
            <li>
                <%= link_to 'Sign out', :logout %>
            </li>
        </ul>
    </div>

    <div class="jumpto" >
        
        <%= form_tag do %>
          <%= autocomplete_field_tag 'nombre', '',usuarios_autocomplete_usuario_nombre_path %>
        <% end %>

    </div>

</nav>
</header>

