<header >
<nav class="">
    

    <div id="panelLogo" class="logo">
        <%= link_to 'Procesos', procesos_path  %>
    </div>

    
    <div class="global_links">
        <%= link_to 'Procesos', procesos_path , :class => "topnav_root" %>
        <%= link_to 'Agenda', eventos_path , :class => "topnav_calendar" %>
        <%= link_to 'Reportes', reportes_path , :class => "topnav_calendar" %>
        
        <%=  link_to "Progreso", :progreso ,:class => "topnav_everyone"   %>
        <%=  link_to "Compartir", :compartirProcesos ,:class => "topnav_everyone"   %>
        
    </div>

    <div class="jumpto" >
        
             <a href="#" class="button meddium secondary" data-dropdown="drop1" style=" min-width: 180px; font-size: 11px !important; letter-spacing: 0.4px;font-family: 'ProximaNova','Helvetica Neue',helvetica,arial,sans-serif !important;"><%= current_user.username %> &raquo;</a>
              <ul id="drop1" class="f-dropdown" data-dropdown-content >
                <li><%= link_to "Mi Perfil",current_user,:class => "Me"   %></li>
                <li><%=  link_to "Planes y precios", :precios %></li>
                <li> <%= link_to 'Salir', :logout %></li>
              </ul>

              
             
    </div>



 <script>
  $(function() {
        $( "#tags" ).autocomplete({
          source: function( request, response ) {
            $.ajax({
              url: "procesos.json",
              dataType: "json",
              data: {
                featureClass: "P",
                style: "full",
                maxRows: 4,
                iniciaCon: request.term
              },
              select: function (event, ui) {
                  
              },
              success: function( data ) {
                response( $.map( data, function( item ) {
                  return {
                    label: item.titulo,
                    value: item.id
                  }
                }));
              }
            });
          }
        });
      
   
    
  });


  $( "#tags" )
    .on( "autocompleteselect", 
      function( event, ui ) { 
        window.location.href="/procesos/"+ui.item.value;
      } 
    );


  </script>
  
</nav>
</header>

