<header >
<nav class="">
    
    <div id="panelLogo" class="logo">
        <%= link_to 'Procesos', procesos_path  %>
    </div>

    
    <div class="global_links">
        <%= link_to 'Procesos', procesos_path , :class => "topnav_root" %>
        <%= link_to 'Agenda', events_path , :class => "topnav_calendar" %>
        <a class="topnav_everything"  href="#">Informes</a>
        <a class="topnav_everyone"  href="#">Todo</a>
        <%= link_to 'Mi Progreso', log_path , :class => "topnav_calendar" %>
        
    </div>

    <div class="current_user">
        <ul>
            <li><a  href="#">Planes y Precios</a></li>
            <li><a  href="#">Perfil: <%= current_user.username %></a></li>
            <li>
                <%= link_to 'Sign out', :logout %>
            </li>
        </ul>
    </div>

    <div class="jumpto" >
        <input type="text"  placeholder="Ir a un proceso, persona, cliente, o buscar...">
    </div>

</nav>
</header>

