<!DOCTYPE html>
<html>
<head>
  <title>AspenVersion3</title>

<%= include_gon  %>

<%= stylesheet_link_tag    "application", :media => "all" %>

<%= csrf_meta_tags %>
 
<script src="/assets/foundation.min.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/zepto.js?body=1" type="text/javascript"></script>
<script src="/assets/vendor/custom.modernizr.js?body=1" type="text/javascript"></script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/assets/cupertino/jquery-ui-1.10.3.custom" />

</head>
<body>

<% if current_user %>
	<%= render "layouts/header" %>
<% else %>
	<%= render "layouts/headerLogin" %>
<% end %>

<%= yield %>

</body>

<%= render "layouts/footer" %>

<%= render "layouts/scriptFoundation" %>

</html>